/*------------------------------------*\ Organique - HTML template
\*------------------------------------*/
/** TABLE OF CONTENTS  01. Project variables..Imported variables 02. Tags...............Like <body>, <h1> etc. 03. Helpers............The general styles like .push-down-15 etc. 04. Components.........Imported files, like partials, Compass etc. 05. Accessibility overrides, usually with help of JS. */
/*------------------------------------*\ Project variables
\*------------------------------------*/
/** Variables and Bootstrap overrides */
.header .navbar-toggle.collapsed, .search-panel, .search-panel__form .form-control, .search-panel__form .form-control:focus, .header-cart:after, .header-cart__items:after, .header-cart__open-cart, .alert-success, .alert-primary, .btn-primary--transition, .btn-primary--reverse-transition:hover, .progress .progress-bar--success, .pagination .page-numbers.next, .pagination .page-numbers.prev, .nav-sidebar-menu > li.active a:before, .nav-sidebar-menu > li > a:hover:before, .product-overlay__cart, .motivational-stories .motivational-stories__circle, .page-not-found .page-not-found__background, .shop__filter__slider .ui-slider-range, div.woocommerce .single_add_to_cart_button, .sidebar-item .ui-slider-range, .button.checkout-button { background-color: #71a866; }

a, .secondary-link, .secondary-link:hover, .primary-color, .navbar-default .navbar-nav > .active > a:hover, .glyphicon-search--nav, .nav-blog a, .header-cart:hover, .header-cart:hover .header-cart__text--price, .btn-primary--transition:hover, .btn-primary--reverse-transition, .btn-shop:hover, .table-theme tr.active td, .pagination .active a:hover, .pagination .active a, .pagination .page-numbers:hover, .pagination .page-numbers.next:hover, .pagination .page-numbers.prev:hover, .opening-time .week-day.today, .products__price, .dot-stock-success, .in-stock, .products__price--widgets, .page-not-found .page-not-found__link, .single-product__price, .star-on, .quantity .quantity__input, .blog .blog__comments-link, .shop__amount-filter__link:hover, div.woocommerce .quantity [type="number"], div.woocommerce .meta ins, div.woocommerce .tag .amount, .single_variation .price > .amount, .single_variation ins, .commentlist .star-rating { color: #71a866; }

.top, .top .dropdown-menu > li > a, .header .navbar-toggle, .breadcrumbs, .footer-widgets:after, .footer, .banners-medium, .btn-darker, .btn-darker--transition, .btn-darker--reverse-transition:hover, .progress .progress-bar--even-more-dark, .product-overlay__stock { background-color: #413c35; }

h2 a, h2 a:hover, h3 a, h3 a:hover, .text, .text-dark, .secondary-color, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > li > a, .header-cart__text--price, .header-cart__qty, .header-cart__subtotal, .banners-box:hover, .banners-small--social .social:hover, .banners-small--social .social:hover .zocial-pinterest, .banners-small--social .social:hover .zocial-twitter, .banners-small--social .social:hover .zocial-facebook, .banners-small--social .social:hover .zocial-email, .nav-tabs > li > a:hover, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .btn-darker--transition:hover, .btn-darker--reverse-transition, .btn-jumbotron:hover, .table-theme > thead > tr > th, .table > thead > tr > th, .panel-link, .pagination, .pagination .page-numbers, .social-container:hover > span, .opening-time .week-day, .opening-time .opening-time__title, .nav-sidebar-menu > li.active a, .nav-sidebar-menu > li > a:hover, .products-navigation__arrows .glyphicon-circle:hover, .product-overlay__cart:hover, .products__title a, .testimonials .testimonials__text, .testimonials .glyphicon-circle:hover, .comment-content--nested .comment-author, .comment-content--nestedx2 .comment-author, .comment-content .comment-author, .comment-content--nested .comment-text, .comment-content--nestedx2 .comment-text, .comment-content .comment-text, .quantity .quantity__button, .blog__date, .blog-content__text, .woocommerce .input-text, .shop__amount-filter__link, .nav--filter > li > a, .woocommerce-ordering .orderby, div.woocommerce .product-remove a, div.woocommerce .quantity.buttons_added .minus, div.woocommerce .quantity.buttons_added .plus, div.woocommerce .variations .value select, .cart-empty { color: #413c35; }

a:active, .alert-warning, .btn-warning--transition, .btn-warning--reverse-transition:hover, .progress .progress-bar--warning, div.woocommerce .product .stamp, #submit, #searchsubmit, .button { background-color: #fe6e3a; }

.tertiary-color, .warning, .footer a:hover, .footer .footer__text .glyphicon-heart, .footer__link:hover, .btn-warning--transition:hover, .btn-warning--reverse-transition, .available-soon, .woocommerce .required { color: #fe6e3a; }

/*------------------------------------*\ Tags
\*------------------------------------*/
body { position: relative; }

a:active { color: white; }
a:hover { text-decoration: none; }

h1, h2, h3, h4, h5, h6 { margin-top: 36px; }

h1 { margin-bottom: 30px; }

h2 { margin-bottom: 24px; }

h3 { margin-bottom: 22px; }

h4 { margin-bottom: 18px; }

h5 { margin-bottom: 15px; }

h6 { margin-bottom: 12px; font-family: "Arvo", Georgia, Times, serif; font-weight: 700; text-transform: uppercase; font-weight: bold; }

pre { border: 1px solid #e5e5dc; color: #413c35; }

del { font-weight: normal; font-size: 90%; }

/*------------------------------------*\ Helpers
\*------------------------------------*/
.push-down-0 { margin-bottom: 0px; }

.push-down-5 { margin-bottom: 5px; }

.push-down-10 { margin-bottom: 10px; }

.push-down-15 { margin-bottom: 15px; }

.push-down-20 { margin-bottom: 20px; }

.push-down-25 { margin-bottom: 25px; }

.push-down-30 { margin-bottom: 30px; }

.push-down-35 { margin-bottom: 35px; }

.push-down-40 { margin-bottom: 40px; }

.push-down-45 { margin-bottom: 45px; }

.push-down-50 { margin-bottom: 50px; }

.push-down-55 { margin-bottom: 55px; }

.push-down-60 { margin-bottom: 60px; }

.light { font-weight: 400; }

.semibold { font-weight: 600; }

.bold { font-weight: 700; }

.uppercase { text-transform: uppercase; }

del, .line-through { text-decoration: line-through; }

.right { text-align: right; }

.center { text-align: center; }

.text { text-align: left; line-height: 23px; font-weight: normal; margin-bottom: 20px; }

.text-highlight { font-size: 16px; line-height: 26px; text-align: center; color: #413c35; font-weight: 600; margin: 20px 0; }

.text-dark { font-weight: 700; font-size: 15px; line-height: 1.5; }

.glyphicon.glyphicon-circle { width: 32px; height: 32px; text-align: center; line-height: 28px; border: 2px solid #f3f2eb; border-radius: 50%; font-size: 12px; }

.form-control { border: none; -webkit-box-shadow: none !important; box-shadow: none !important; background: #f3f2eb; }
.form-control:focus { background: white; }

@media (min-width: 768px) { .text-shrink { width: 60%; margin: 0 auto; } }
.form-control:focus { border-color: #e5e5dc; }

/*------------------------------------*\ Components
\*------------------------------------*/
.top { font-size: 11px; font-weight: 600; position: relative; z-index: 1002; }
.top .dropdown:hover .dropdown-menu { visibility: visible; opacity: 1; }
.top .dropdown-menu { min-width: 45px; }
.top .dropdown-menu.show-menu { opacity: 1; visibility: visible; }
.top .dropdown-menu > li .last { border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; }
.top .dropdown-menu > li > a { text-align: left; font-size: 11px; padding: 6px 10px; color: #b1b0a7; font-weight: 400; border-bottom: 1px solid #5d564c; }
.top .dropdown-menu > li > a:hover { background-color: #5d564c; color: white; }
.top .nav .caret { border-top-color: #b1b0a7; }
.top .nav > li { display: inline-block; float: none; }
.top .nav > li > a { color: #b1b0a7; padding: 0 5px; background: none; }
.top .nav > li:hover .caret, .top .nav > li:hover a { color: #f3f2eb; border-top-color: #f3f2eb; }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover { background-color: #413c35; }

.top__slogan, .top__menu { text-align: center; color: #b1b0a7; }

.top__slogan { padding: 3px 0; }

.top__menu { padding: 0 0 5px 0; }

@media (min-width: 768px) { .top__slogan { text-align: left; padding: 7px 0; }
  .top__menu { text-align: right; padding: 0; }
  .top .nav > li { padding: 7px 0; } }
.header { background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f3f2eb)); background: -webkit-linear-gradient(top, white 0%, #f3f2eb 100%); background: linear-gradient(to bottom, white 0%, #f3f2eb 100%); position: relative; z-index: 1001; }
.header .header-logo { padding: 5px 0; text-align: left; height:80px; }
.header .navbar-toggle { border: 0; margin: 34px 0; }
.header .navbar-toggle .icon-bar { background-color: white; }
.header a:active { background: none; }

.mobile-navbar-form { padding-top: 1em; padding-bottom: 2em; }
.mobile-navbar-form .form-control { border: 1px solid #e5e5dc; border-right: none; background: white; }

.mobile-navbar-form__appended-btn { background: none; border: none; padding-top: 0; padding-bottom: 0; }

@media (min-width: 992px) { .fixed-header .header { position: fixed; width: 100%; -webkit-box-shadow: 0 0 5px #b1b0a7; box-shadow: 0 0 5px #b1b0a7; top: 0; }
  .fixed-header.admin-bar .header { top: 32px; }
  .fixed-header .top { margin-bottom: 100px; } }
.dropdown-menu { display: block; margin: 0; padding: 0; -webkit-box-shadow: none; box-shadow: none; border: none; border-radius: 0; background: none; -webkit-transition: all .1s linear; transition: all .1s linear; visibility: hidden; opacity: 0; position: absolute; }
@media (min-width: 992px) { .dropdown-menu > li:last-child > a { border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; } }
.dropdown-menu .dropdown-menu { left: 100%; top: 0; border-top: none !important; }

.navbar-collapse { margin-bottom: 10px; }
@media (min-width: 992px) { .navbar-collapse { margin-bottom: 0; } }

.navbar-default { margin: 0; min-height: 0; border: 0; background: none; font-weight: bold; }
.navbar-default .navbar-nav > .active > a { background-color: transparent; }
.navbar-default .navbar-nav > .active > a:hover { background-color: transparent; }
@media (min-width: 992px) { .navbar-default .navbar-nav > li > a { padding: 41px 10px; max-height: 100px; }
  .navbar-default .navbar-nav > li > a:after { background-color: #71a866; content: ""; position: absolute; width: 100%; height: 4px; top: 0; left: 0; opacity: 0; visibility: hidden; -webkit-transition: all .1s linear; transition: all .1s linear; } }
@media (min-width: 1200px) { .navbar-default .navbar-nav > li > a { padding-left: 10px; padding-right: 10px; } }
.navbar-default .navbar-nav > li > a .caret { position: absolute; border-top-color: #413c35; border-bottom-color: #413c35; bottom: 50%; right: 30px; margin-right: -4px; }
@media (min-width: 992px) { .navbar-default .navbar-nav > li > a .caret { bottom: 22%; right: 50%; } }
@media (min-width: 992px) { .navbar-default .navbar-nav > li.dropdown:hover .dropdown-menu { visibility: visible; opacity: 1; }
  .navbar-default .navbar-nav > li.dropdown .dropdown .dropdown-menu { visibility: hidden; opacity: 0; }
  .navbar-default .navbar-nav > li.dropdown .dropdown:hover .dropdown-menu { visibility: visible; opacity: 1; } }
@media (min-width: 992px) { .navbar-default .navbar-nav > li:hover > a { color: #71a866; }
  .navbar-default .navbar-nav > li:hover > a:after { visibility: visible; opacity: 1; } }
.navbar-default .navbar-nav > li:hover .caret { border-top-color: #71a866 !important; border-bottom-color: #71a866 !important; }
.navbar-default .dropdown-menu { position: static; float: none; opacity: 1; visibility: visible; padding: 0 0 0 5px; }
@media (min-width: 992px) { .navbar-default .dropdown-menu { border-top: 2px solid rgba(113, 168, 102, 0.9); position: absolute; visibility: hidden; opacity: 0; padding: 0; } }
.navbar-default .dropdown-menu > li > a { padding: 5px 20px; color: #6b6357; }
.navbar-default .dropdown-menu > li > a:hover { color: #413c35; background: none; text-decoration: underline; }
@media (min-width: 992px) { .navbar-default .dropdown-menu > li > a { background-color: #71a866; padding: 9px 20px; font-weight: 700; border-bottom: 1px solid #598c4f; color: #f3f2eb; } }
@media (min-width: 992px) { .navbar-default .dropdown-menu > li:hover > a { background-color: #598c4f; color: #f3f2eb; text-decoration: none; } }

.glyphicon-search--nav { font-size: 17px; line-height: 19px; }

.input-group-addon { background-color: #f3f2eb; border: 1px solid #e5e5dc; }

.nav-blog { margin-top: -4px; margin-bottom: 0; padding-left: 0; list-style: none; }
.nav-blog a:hover { text-decoration: underline; }

.footer-widgets .nav { font-weight: bold; }
.footer-widgets .nav > li > a { padding: 5px 0; }
.footer-widgets .nav > li > a:hover { background-color: transparent; }
.footer-widgets .nav-pills > li.active > a, .footer-widgets .nav-pills > li.active > a:hover { background-color: transparent; }
.footer-widgets .dropdown-menu { position: static; opacity: 1; visibility: visible; float: none; }
.footer-widgets .dropdown-menu > li > a { font-weight: bold; background-color: transparent; padding: 5px 10px; }
.footer-widgets .dropdown-menu > li > a:hover { color: #f3f2eb; background-color: transparent; }
.footer-widgets .dropdown-menu > .active > a:focus { background-color: transparent; }
.footer-widgets .dropdown-menu .dropdown-menu > li > a { padding: 5px 20px; }
.footer-widgets .caret { visibility: hidden; opacity: 0; }

.search-panel { z-index: 1001; position: absolute; width: 100%; opacity: 0; visibility: hidden; -webkit-transition: all .1s linear; transition: all .1s linear; height: 80px; -webkit-box-shadow: 0px 2px 0 rgba(0, 0, 0, 0.1) inset; box-shadow: 0px 2px 0 rgba(0, 0, 0, 0.1) inset; }
.search-panel button { background: none; border: none; }

.search-panel__form { padding: 20px 0; }
.search-panel__form input::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.3); }
.search-panel__form input::-moz-placeholder { color: rgba(0, 0, 0, 0.3); opacity: 1; }
.search-panel__form input:-ms-input-placeholder { color: rgba(0, 0, 0, 0.3); }
.search-panel__form .form-control { display: inline; color: #e5e5dc; border: 0; border-radius: 0; -webkit-box-shadow: none; box-shadow: none; width: 90%; height: 40px; margin: 0 0 20px 20px; font-size: 24px; }
.search-panel__form .glyphicon-search { font-size: 30px; color: rgba(0, 0, 0, 0.3); display: inline-block; }

.search-panel__close { padding: 25px 0; margin: -2px 0; }
.search-panel__close .glyphicon-remove { color: #f3f2eb; -webkit-transition: all .1s linear; transition: all .1s linear; }
.search-panel__close .glyphicon-remove:hover { color: #e5e5dc; border-color: #e5e5dc; }

/* class .search-mode is added to the <body> */
.search-mode .search-panel, .search-mode .search-mode__overlay { opacity: 1; visibility: visible; }

.search-mode__overlay { visibility: hidden; opacity: 0; background-color: rgba(0, 0, 0, 0.5); position: absolute; z-index: 1000; top: 0; left: 0; right: 0; bottom: 0; -webkit-transition: all .1s linear; transition: all .1s linear; -webkit-transform: translateZ(0); transform: translateZ(0); }

.header-cart { position: relative; max-height: 100px; padding: 34px 0 30px; text-align: right; }
.header-cart:before { content: ""; position: absolute; background-color: #d6d3bb; width: 1px; height: 36px; top: 50%; left: 0; margin-top: -18px; }
.header-cart:after { content: ""; position: absolute; width: 100%; height: 4px; top: 0; left: 0; visibility: hidden; opacity: 0; -webkit-transition: all .1s linear; transition: all .1s linear; }
.header-cart:hover:after { opacity: 1; visibility: visible; }
.header-cart:hover .header-cart__open-cart { opacity: 1; visibility: visible; }

.header-cart__items { display: inline-block; position: relative; vertical-align: middle; width: 36px; height: 36px; }
.header-cart__items:after, .header-cart__items:before { content: ""; position: absolute; }
.header-cart__items:after { background-image: url('../images/pattern_dark.png?1391170676'); top: 3px; bottom: 0; right: 0; left: 0; border-radius: 3px 3px 8px 8px; border: 1px solid rgba(0, 0, 0, 0.05); }
.header-cart__items:before { border-radius: 40%; width: 18px; height: 18px; border: 2px solid #71a866; left: 50%; top: -8px; margin-left: -9px; }
.header-cart__items .header-cart__items-num { position: absolute; color: white; z-index: 1; left: 0; right: 0; text-align: center; top: 7px; font-weight: 600; }

.header-cart__text { color: #b1b0a7; margin-right: 4px; display: none; }
@media (min-width: 1200px) { .header-cart__text { display: inline; } }

.header-cart__text--price { font-weight: 700; display: inline-block; margin-right: 10px; -webkit-transition: all .1s linear; transition: all .1s linear; }

.header-cart__open-cart { position: absolute; visibility: hidden; opacity: 0; top: 100%; right: 0; width: 400px; -webkit-transition: all .1s linear; transition: all .1s linear; padding: 10px; z-index: 1001; color: white; -webkit-box-shadow: 0px 2px 0 rgba(0, 0, 0, 0.1) inset; box-shadow: 0px 2px 0 rgba(0, 0, 0, 0.1) inset; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; }
.header-cart__open-cart .btn-darker { width: 100%; margin: 0; }

.header-cart__product { font-size: 14px; padding: 10px; }
.header-cart__product:hover { background-color: #598c4f; border-top: 1px solid #55854c; border-bottom: 1px solid #55854c; padding-top: 9px; padding-bottom: 9px; }
.header-cart__product:hover .header-cart__product-image, .header-cart__product:hover .header-cart__product-image--hover { display: none; }
.header-cart__product:hover .header-cart__product-image--hover { display: block; }

.header-cart__product-image, .header-cart__product-image--hover { float: left; text-align: center; width: 15%; }

.header-cart__product-image--hover { display: none; line-height: 50px; }
.header-cart__product-image--hover .glyphicon-circle { color: #f3f2eb; }

.header-cart__product-title { float: left; width: 65%; text-align: left; font-weight: 600; }
.header-cart__product-title .header-cart__link { color: white; }

.header-cart__qty { font-family: "Arvo", Georgia, Times, serif; font-weight: 700; font-size: 11px; display: block; }

.header-cart__price { width: 20%; font-weight: bold; float: left; }

.header-cart__divider { border: 1px solid #55854c; margin-top: 5px; margin-bottom: 5px; }

.header-cart__subtotal { font-family: "Arvo", Georgia, Times, serif; font-weight: 700; font-size: 12px; text-align: right; margin-right: 20px; }

.header-cart__subtotal-price { font-size: 24px; font-weight: 700; }

.header-cart__subtotal-box { text-align: right; margin-bottom: 15px; }

.mobile-cart { text-align: center; }

.jumbotron { background: url('../images/dark_wood.jpg?1391516913') repeat center top; text-align: center; position: relative; }
.jumbotron:after { position: absolute; content: ""; top: 0; bottom: 0; left: 0; right: 0; -webkit-transition: opacity 0.5s ease; transition: opacity 0.5s ease; background: -webkit-gradient(linear, left top, right top, from(rgba(38, 35, 31, 0.8)), color-stop(50%, rgba(65, 60, 53, 0)), to(rgba(38, 35, 31, 0.8))); background: -webkit-linear-gradient(left, rgba(38, 35, 31, 0.8) 0%, rgba(65, 60, 53, 0) 50%, rgba(38, 35, 31, 0.8) 100%); background: linear-gradient(to right, rgba(38, 35, 31, 0.8) 0%, rgba(65, 60, 53, 0) 50%, rgba(38, 35, 31, 0.8) 100%); opacity: 0; }
.jumbotron.pattern-2 { background-image: url('../images/pattern-2.jpg?1396007597'); }
.jumbotron.pattern-3 { background-image: url('../images/pattern-3.jpg?1396007597'); }
.jumbotron.pattern-4 { background-image: url('../images/pattern-4.jpg?1396007597'); }
.jumbotron.pattern-5 { background-image: url('../images/pattern-5.jpg?1396007597'); }
.jumbotron.jumbotron--gradient:after { opacity: 1; }
.jumbotron > .container { position: relative; z-index: 1; }

.jumbotron__container { padding: 9% 0; }

.jumbotron__title { line-height: 1.3; color: #f3f2eb; text-transform: uppercase; font-weight: bold; font-size: 36px; margin: 0 0 3.5%; }
@media (min-width: 768px) { .jumbotron__title { font-size: 60px; } }

.jumbotron__subtitle { line-height: 1.5; color: #f3f2eb; font-size: 14px; font-weight: normal; margin: 0 0 2.2%; }
@media (min-width: 768px) { .jumbotron__subtitle { font-size: 16px; } }

.jumbotron__title--main { padding: 0; }

.jumbotron__opening-time { margin-bottom: 9%; }
@media (min-width: 992px) { .jumbotron__opening-time { margin-top: 50px; margin-bottom: 50px; } }

@media (min-width: 992px) { .jumbotron--business { text-align: left; } }
.jumbotron--business .jumbotron__subtitle { margin-bottom: 4%; }

.jumbotron-slider { display: inline-block; text-align: left; }

.carousel-caption { text-shadow: none; top: 20px; }
@media (min-width: 768px) { .carousel-caption { top: -20px; } }

.carousel-control { width: 8%; }

.carousel a:active { background-color: transparent; }

.carousel--fixed-height .item { overflow: hidden; }
.carousel--fixed-height .item > img, .carousel--fixed-height .item > a > img { max-width: none; min-width: 1920px; min-height: 420px; }
@media (min-width: 1921px) { .carousel--fixed-height .item > img, .carousel--fixed-height .item > a > img { width: 100%; height: auto; } }

.breadcrumbs { background-image: url('../images/pattern_dark.png?1391170676'); width: 100%; margin-bottom: 30px; }

.no-margin { margin-bottom: 0; }

.breadcrumb { color: #f3f2eb; padding: 11px 0 10px 125px; margin: 0; background: none; border-radius: 0; font-weight: 600; }
.breadcrumb > li + li:before { content: "\e080"; color: #b1b0a7; font-family: "Glyphicons Halflings"; font-size: 8px; }
.breadcrumb a { color: #b1b0a7; font-weight: normal; }
.breadcrumb a:hover { color: #f3f2eb; text-decoration: none; }
.breadcrumb .current { color: #f3f2eb; font-weight: 600; }

.footer-widgets { color: #b1b0a7; position: relative; background-color: #4b463f; padding-top: 60px; }
.footer-widgets h4 { margin-top: 0; color: #f3f2eb; }
.footer-widgets a { color: #b1b0a7; }
.footer-widgets a:hover { color: #f3f2eb; }
.footer-widgets:after { background-image: url('../images/divider-default.png?1391170676'); background-position: center center; background-repeat: no-repeat; content: ""; position: absolute; bottom: -20px; width: 40px; height: 40px; border-radius: 40px; left: 50%; margin-left: -20px; }
.footer-widgets .footer-widgets__social { margin: 58px 0; }
.footer-widgets .footer-widgets__navigation, .footer-widgets .footer-widgets__tags, .footer-widgets .footer-widgets__contact { margin: 22px 0 58px 0; }
.footer-widgets .footer-wdgets__heading--line { text-align: center; position: relative; }
.footer-widgets .footer-wdgets__heading--line:after { z-index: 1; content: ""; position: absolute; width: 100%; top: 28%; left: 0; height: 1px; background: #676056; }
.footer-widgets .footer-widgets__heading { position: relative; text-align: center; color: #f3f2eb; z-index: 2; background-color: #4b463f; display: inline-block; padding: 0 10px; }
.footer-widgets .nav-footer > li > a { padding: 0; color: #b1b0a7; font-weight: bold; line-height: 30px; }
.footer-widgets .nav-footer > li > a:hover { color: #f3f2eb; background: transparent; }
.footer-widgets .tagcloud2 a, .footer-widgets .tagcloud a { display: inline-block; border: 2px solid #b1b0a7; border-radius: 5px; padding: 5px 8px; margin: 4px 2px; font-family: "Arvo", Georgia, Times, serif; font-weight: 700; color: #b1b0a7; text-transform: uppercase; font-size: 11px; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.footer-widgets .tagcloud2 a:hover, .footer-widgets .tagcloud a:hover { color: #f3f2eb; text-decoration: none; border: 2px solid #f3f2eb; }
.footer-widgets .glyphicon--footer { font-size: 12px; margin-right: 3px; }
.footer-widgets .glyphicon--footer-small { font-size: 8px; margin-right: 3px; }

.footer { padding: 18px 0; color: #b1b0a7; }
.footer a { color: #f3f2eb; font-weight: 600; }
.footer .footer__link--small { font-size: 12px; font-weight: bold; }
.footer .footer__link--small:hover { text-decoration: none; }
.footer .footer__text { float: right; }
.footer .footer__text .glyphicon-heart { font-size: 8px; }
@media (max-width: 768px) { .footer .footer, .footer .footer__text, .footer .footer__text--link { text-align: center; float: none; } }

.footer__link { color: #f3f2eb; font-weight: bold; }
.footer__link:hover { font-weight: bold; text-decoration: none; }

.banners-small, .banners-medium, .banners-big { border-radius: 3px; margin: 18px 0; color: #f3f2eb; font-weight: 600; font-size: 15px; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }

.banners { background: #f3f2eb; }

.banners-box { padding: 25px 0 0 25px; margin-bottom: -5px; -webkit-transition: color 0.2s linear; transition: color 0.2s linear; color: #b1b0a7; line-height: 1.35; }
.banners-box:hover { -webkit-transition: all 0.1s linear; transition: all 0.1s linear; }
.banners-box .glyphicon--banners { display: block; font-size: 30px; float: left; margin: 0 10px 0 0; }
.banners-box .banners__title { font-family: "Arvo", Georgia, Times, serif; display: block; }

.banners-small { background: #f3f2eb; padding: 19px; text-align: center; font-family: "Arvo", Georgia, Times, serif; text-transform: uppercase; font-size: 12px; text-shadow: none; color: #b1b0a7; }
.banners-small .banners-small--text { font-family: "Open Sans", Helvetica, Arial, sans-serif; }

.banners-small--social { text-align: left; margin: 15px 0; }
.banners-small--social .social { -webkit-transition: all .1s linear; transition: all .1s linear; color: #b1b0a7; }
.banners-small--social .social .zocial-pinterest, .banners-small--social .social .zocial-twitter, .banners-small--social .social .zocial-facebook, .banners-small--social .social .zocial-email { font-family: 'zocial', sans-serif; padding: 9px 0 0 11px; width: 36px; height: 36px; color: #b1b0a7; margin: 0 5px 0 0; display: inline-block; -webkit-transition: all .1s linear; transition: all .1s linear; float: left; }
.banners-small--social .social:hover { text-decoration: none; }

.banners-medium { background-image: url('../images/pattern_dark.png?1391170676'); padding: 26px 52px 26px 26px; position: relative; }
.banners-medium .glyphicon-circle { position: absolute; right: 15px; top: 50%; margin-top: -16px; }

.banners-medium--info { text-align: center; padding: 16px; margin-bottom: 16px !important; }
.banners-medium--info:after { content: ""; border: 0; }

.banners-big { text-align: center; background: url('../images/noise_pattern.png?1391170676'), -webkit-gradient(linear, left top, right top, from(#455235), color-stop(50%, #6c8053), to(#455235)); background: url('../images/noise_pattern.png?1391170676'), -webkit-linear-gradient(left, #455235 0%, #6c8053 50%, #455235 100%); background: url('../images/noise_pattern.png?1391170676'), linear-gradient(to right, #455235 0%, #6c8053 50%, #455235 100%); padding: 24px; margin: 0 0 30px 0; }

.banners-big--newsletter { padding: 16px 16px 16px 32px; }
@media (min-width: 992px) { .banners-big--newsletter { text-align: left; } }
.banners-big--newsletter .banners-big__text { margin-top: 6px; }

.banners-big__form { text-align: center; }
.banners-big__form .form-group--form { margin: 0; }
@media (min-width: 992px) { .banners-big__form .form-group--form { text-align: right; } }
.banners-big__form .form-control--form { display: inline; width: 200px; height: 36px; border-radius: 2px; }

.alert { padding: 11px; font-family: "Arvo", Georgia, Times, serif; font-weight: 700; color: #f3f2eb; font-size: 12px; border-color: transparent; }
.alert button.close { margin-top: -1px; }

.alert-default { background: #f3f2eb; color: #413c35; }

.alert-dark { background: #b1b0a7; }

.alert-info { background: #668aa8; }

.alert-danger { background: #d5525b; }

.nav-tabs { border-bottom: 2px solid #e5e5dc; }
.nav-tabs > li { margin-bottom: -3px; }
.nav-tabs > li > a { color: #b1b0a7; font-family: "Arvo", Georgia, Times, serif; font-weight: 700; font-size: 14px; border: none; border-bottom: 3px solid transparent; }
.nav-tabs > li > a:hover { border: none; border-bottom: 3px solid #413c35; background: none; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { border: none; border-bottom: 3px solid #413c35; }

.tab-text { font-weight: 400; line-height: 1.7; }

.btn, #submitWPComment { font-family: "Arvo", Georgia, Times, serif; font-weight: 700; text-transform: uppercase; font-size: 12px; color: #f3f2eb; border-radius: 2px; border: 0; padding: 9px 20px; -webkit-transition: all .1s linear; transition: all .1s linear; }

.btn-dark { background: #b1b0a7; }
.btn-dark:hover { color: #f3f2eb; background: #99988c; }

.btn-default { color: #b1b0a7; border: 2px solid #e5e5dc; padding: 7px 18px; background: transparent; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; }
.btn-default:hover { color: white; background: #b1b0a7; border: 2px solid #b1b0a7; padding: 7px 18px; }

.btn-darker:hover { color: #f3f2eb; background: #25221e; }

.btn-primary--transition, .btn-dark--transition, .btn-warning--transition, .btn-info--transition, .btn-danger--transition, .btn-darker--transition { -webkit-transition: background 0.1s linear; transition: background 0.1s linear; }
.btn-primary--transition:hover, .btn-dark--transition:hover, .btn-warning--transition:hover, .btn-info--transition:hover, .btn-danger--transition:hover, .btn-darker--transition:hover { background: transparent; padding: 7px 18px; }

.btn-primary--transition:hover { border: 2px solid #71a866; }

.btn-dark--transition { background: #b1b0a7; }
.btn-dark--transition:hover { color: #b1b0a7; border: 2px solid #b1b0a7; }

.btn-warning--transition:hover { border: 2px solid #fe6e3a; }

.btn-info--transition { background: #668aa8; }
.btn-info--transition:hover { color: #668aa8; border: 2px solid #668aa8; }

.btn-danger--transition { background: #d5525b; }
.btn-danger--transition:hover { color: #d5525b; border: 2px solid #d5525b; }

.btn-darker--transition:hover { border: 2px solid #413c35; }

.btn-default--transition { color: #b1b0a7; border: 2px solid #e5e5dc; padding: 7px 18px; background: transparent; -webkit-transition: border 0.1s linear; transition: border 0.1s linear; }
.btn-default--transition:hover { background: transparent; color: #b1b0a7; border: 2px solid #413c35; padding: 7px 18px; }

.btn-primary--reverse-transition, .btn-dark--reverse-transition, .btn-warning--reverse-transition, .btn-info--reverse-transition, .btn-danger--reverse-transition, .btn-darker--reverse-transition { -webkit-transition: background 0.1s linear; transition: background 0.1s linear; background: transparent; padding: 7px 18px; }
.btn-primary--reverse-transition:hover, .btn-dark--reverse-transition:hover, .btn-warning--reverse-transition:hover, .btn-info--reverse-transition:hover, .btn-danger--reverse-transition:hover, .btn-darker--reverse-transition:hover { color: white; }

.btn-primary--reverse-transition { border: 2px solid #71a866; }

.btn-dark--reverse-transition { color: #b1b0a7; border: 2px solid #b1b0a7; }
.btn-dark--reverse-transition:hover { background: #b1b0a7; }

.btn-warning--reverse-transition { border: 2px solid #fe6e3a; }

.btn-info--reverse-transition { color: #668aa8; border: 2px solid #668aa8; }
.btn-info--reverse-transition:hover { background: #668aa8; }

.btn-danger--reverse-transition { color: #d5525b; border: 2px solid #d5525b; }
.btn-danger--reverse-transition:hover { background: #d5525b; }

.btn-darker--reverse-transition { border: 2px solid #413c35; }

.btn-default--reverse-transition { background: white; color: #b1b0a7; border: 2px solid #413c35; padding: 7px 18px; -webkit-transition: border 0.1s linear; transition: border 0.1s linear; }
.btn-default--reverse-transition:hover { color: #b1b0a7; border: 2px solid #e5e5dc; background: white; }

.btn-jumbotron { background: transparent; color: #e5e5dc; border: 2px solid #e5e5dc; padding: 7px 18px; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; }
.btn-jumbotron:hover { background: #e5e5dc; border: 2px solid #e5e5dc; }

.btn-shop { color: #b1b0a7; background-color: white; border: 1px solid #e5e5dc; -webkit-box-shadow: 0 1px 2px #e5e5dc; box-shadow: 0 1px 2px #e5e5dc; padding: 10px; }
.btn-shop:hover { border: 1px solid #e5e5dc; background-color: #f3f2eb; }

#submitWPComment { margin-bottom: 30px; background-color: #fe6e3a; }
#submitWPComment:hover { background-color: #fe4907; }

.table > tbody > tr > td { border: 0; color: #5d564c; font-size: 14px; font-weight: 600; }

.table-theme > thead > tr > th, .table > thead > tr > th { border: 0; background: #b1b0a7; }

.table-striped > tbody > tr:nth-child(odd) > td { background: #e5e5dc; }

.table-striped > tbody > tr:nth-child(odd).active > td { background: white; }

.table-theme { border-collapse: separate; border-spacing: 3px; }

.table-theme tr.active td { border: solid 1px #e5e5dc; }

.table-theme tr.inactive td { color: #b1b0a7; }

.maps { position: relative; padding-bottom: 300px; padding-top: 30px; height: 0; overflow: hidden; }

.maps iframe, .maps object, .maps embed { position: absolute; top: 0; left: 0; width: 100%; height: 300px; }

.simple-map { width: 100%; height: 350px; }

.page-maps { margin-top: -30px; }

.progress-bar, .progress { -webkit-box-shadow: none; box-shadow: none; border-radius: 20px; }

.progress { height: 28px; background: none; border: solid 1px #e5e5dc; padding: 2px; }
.progress .progress-bar--dark { background: #b1b0a7; }
.progress .progress-bar--info { background: #668aa8; }
.progress .progress-bar--danger { background: #d5525b; }

.gallery { width: 100%; height: auto; border-radius: 2px; margin: 0 0 10px; }

.panel-heading { margin: 10px 0; }

.panel-title { margin: 0; width: 100%; background: #f3f2eb; border: 1px solid #e5e5dc; padding: 8px; border-radius: 2px; }

.panel-link { font-size: 13px; text-transform: uppercase; font-family: "Arvo", Georgia, Times, serif; font-weight: 700; }
.panel-link:hover { text-decoration: none; }

.divider-blog, .su-divider, .divider { position: relative; height: 1px; border: 0; border-bottom: 1px solid #e5e5dc; margin: 36px 0; }
.divider-blog:after, .su-divider:after, .divider:after { position: absolute; content: ""; background: white url('../images/divider-default.png?1391170676') center center no-repeat; width: 28px; height: 17px; left: 50%; top: -8px; margin-left: -14px; }

.divider-blog { width: 60%; margin: 36px auto; }

.title__divider { border: 1px solid #e5e5dc; }

.blog-last-divider { height: 2px; border: 0; border-bottom: 2px solid #e5e5dc; margin: 36px 0 16px 0; }

.sidebar-divider { border: 1px solid #e5e5dc; }

.divider-dark { position: relative; border-bottom: 1px solid #b1b0a7; margin-top: 36px; margin-bottom: 36px; width: 150px; }
.divider-dark:after { position: absolute; content: ""; background: #f3f2eb url('../images/divider-dark.png?1391170676') center center no-repeat; width: 28px; height: 17px; left: 50%; top: -8px; margin-left: -14px; }

.bold__divider { height: 2px; background-color: #e5e5dc; }

.pagination { margin: 0; font-size: 15px; font-family: "Arvo", Georgia, Times, serif; font-weight: 700; }
.pagination .active a:hover, .pagination .active a { background-color: #f3f2eb; }
.pagination .page-numbers { display: inline-block; padding: 9px 15px; border-left: 1px solid #e5e5dc; }
.pagination .page-numbers:hover { background-color: #f3f2eb; }
.pagination .page-numbers.next, .pagination .page-numbers.prev { border-radius: 2px; border: 2px solid #71a866; padding: 8px 13px; color: white; }
.pagination .page-numbers.next:hover, .pagination .page-numbers.prev:hover { background-color: white; }
.pagination .current { background-color: #f3f2eb; color: #71a866; }
.pagination .pagination__page-numbers { display: inline-block; margin: 0 10px; border-radius: 2px; border: 1px solid #e5e5dc; }
.pagination .pagination__page-numbers > *:first-child { border-left: none; }
.pagination .glyphicon-chevron-right, .pagination .glyphicon-chevron-left { font-size: 13px; }

.social-container { position: relative; display: inline-block; width: 38px; height: 38px; border-radius: 50%; text-align: center; line-height: 38px; color: #5d564c !important; -webkit-box-shadow: 0 0 0 1px #b1b0a7; box-shadow: 0 0 0 1px #b1b0a7; margin-right: 5px; font-size: 17px; margin-bottom: 10px; }
.social-container:after { -webkit-transition: -webkit-transform .1s linear; transition: transform .1s linear; background-color: #b1b0a7; top: -1px; left: -1px; bottom: -1px; right: -1px; content: ""; border-radius: 50%; position: absolute; }
.social-container:hover { color: #5d564c; }
.social-container:hover:after { -webkit-transform: scale(0.85); -ms-transform: scale(0.85); transform: scale(0.85); }
.social-container > span { -webkit-transition: color .1s linear; transition: color .1s linear; position: relative; z-index: 1; }

.opening-time { border-radius: 2px; padding: 28px 36px; }
.opening-time .week-day { padding: 3px 0; margin: 0; font-weight: 600; }
.opening-time .week-day dt { width: 50%; float: left; text-align: left; }
.opening-time .week-day dd { text-align: right; }
.opening-time .week-day.closed dt, .opening-time .week-day.closed dd { color: #b1b0a7; }
.opening-time .divider-dark { margin: 20px auto; }
.opening-time .opening-time__title { font-family: "Arvo", Georgia, Times, serif; font-weight: 700; text-transform: uppercase; text-align: center; font-size: 14px; margin: 5px 0; }

.features-menu.affix { top: 50px; }

.nav-sidebar-menu { border: 1px solid #e5e5dc; background-color: #f3f2eb; border-radius: 2px; }
.nav-sidebar-menu > li > a { color: #b1b0a7; font-weight: 600; border-bottom: 1px solid #e5e5dc; }
.nav-sidebar-menu > li.active a, .nav-sidebar-menu > li > a:hover { background: white; position: relative; }
.nav-sidebar-menu > li.active a:before, .nav-sidebar-menu > li.active a:after, .nav-sidebar-menu > li > a:hover:before, .nav-sidebar-menu > li > a:hover:after { position: absolute; content: ""; height: 100%; width: 3px; top: 0; }
.nav-sidebar-menu > li.active a:before, .nav-sidebar-menu > li > a:hover:before { left: -1px; }
.nav-sidebar-menu > li.active a:after, .nav-sidebar-menu > li > a:hover:after { right: -1px; background: white; }

/** products-navigation */
.products-navigation { position: relative; padding: 2% 0; text-align: center; }
.products-navigation h1, .products-navigation h2, .products-navigation h3, .products-navigation h4, .products-navigation h5 { margin: 0; line-height: 32px; }
@media (min-width: 768px) { .products-navigation { text-align: left; }
  .products-navigation:after { z-index: -1; position: absolute; content: ""; border-bottom: 1px solid #e5e5dc; left: 0; right: 0; top: 50%; } }

.products-navigation__title { background-color: white; display: inline-block; padding-right: 10px; }

.products-navigation__arrows a:active { background: none; }
@media (min-width: 768px) { .products-navigation__arrows { background-color: white; float: right; padding-left: 10px; } }
.products-navigation__arrows .glyphicon-circle { border-color: #b1b0a7; color: #b1b0a7; -webkit-transition: .1s linear; transition: .1s linear; -webkit-transition-property: color, border-color; transition-property: color, border-color; }
.products-navigation__arrows .glyphicon-circle:hover { border-color: #413c35; }

/** products */
.products__single { margin-bottom: 20px; }

.product__image { width: 100%; height: auto; -webkit-transition: -webkit-transform .1s linear; transition: transform .1s linear; }

html.no-touch .products__image { position: relative; overflow: hidden; }
html.no-touch .products__image:hover { border-radius: 2px; }
@media (min-width: 992px) { html.no-touch .products__image:hover .product__image { -webkit-transform: scale(1.05); -ms-transform: scale(1.05); transform: scale(1.05); } }

html.no-touch .product-overlay { display: block; opacity: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute; content: ""; background: rgba(70, 65, 59, 0.15); -webkit-transition: opacity .1s linear; transition: opacity .1s linear; }
html.no-touch .product-overlay .product-overlay__more { -webkit-transform: scale(0.5); -ms-transform: scale(0.5); transform: scale(0.5); }
html.no-touch .product-overlay:hover { opacity: 1; }
html.no-touch .product-overlay:hover .product-overlay__more { -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
html.no-touch .product-overlay__more { display: block; position: absolute; color: #e5e5dc; font-size: 30px; background: rgba(65, 60, 53, 0.9); height: 60px; width: 60px; padding: 10px 15px; border-radius: 2px; top: 50%; margin-top: -30px; right: 50%; margin-right: -30px; -webkit-transition: all .1s linear; transition: all .1s linear; }
html.no-touch .product-overlay__more:hover { color: #b1b0a7; }
html.no-touch .product-overlay__cart { position: absolute; bottom: 0; right: 0; }
html.no-touch .added_to_cart { position: absolute; bottom: 38px; right: 5px; font-weight: bold; }
html.no-touch .product-overlay__stock { position: absolute; bottom: 0; right: 48px; }

.product-overlay__more { display: none; }

.product-overlay__cart { display: block; float: right; height: 36px; width: 48px; font-size: 16px; font-weight: 700; text-align: center; padding-top: 7px; color: #f3f2eb; -webkit-transition: color .1s linear; transition: color .1s linear; }

.product-overlay__stock { padding: 0px 18px 0 10px; color: #f3f2eb; font-size: 11px; font-weight: 600; height: 36px; -webkit-transition: all .1s; transition: all .1s; }

.products__title { margin: 3px 0 5px; font-size: 13px; }
.products__title a:hover { text-decoration: none; }

.products__price { float: right; padding-left: 10px; font-weight: bold; font-size: 14px; }

.products__category { font-family: "Arvo", Georgia, Times, serif; font-weight: 700; font-size: 11px; color: #c9c8c2; text-transform: uppercase; }

.shop-list .products__price { float: none; margin-bottom: 15px; }

/** gallery for product preview */
.product-preview { -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); border-radius: 2px; }
.product-preview img { width: 100%; height: auto; }

.product-preview__thumbs { margin-left: -2%; }

.product-preview__thumb { width: 18%; margin-left: 2%; margin-bottom: 2%; float: left; }
.product-preview__thumb img { border: 2px solid white; -webkit-transition: border-color .1s linear; transition: border-color .1s linear; }
.product-preview__thumb.active img, .product-preview__thumb img:hover { border-color: #71a866; }

/** single product */
.dot-stock-success, .in-stock, .dot-stock-danger, .out-of-stock, .available-soon { vertical-align: middle; font-size: 25px; margin-right: 2px; }

.dot-stock-danger, .out-of-stock { color: #d5525b; }

.stock-danger, .stock-success, .in-stock--text { vertical-align: middle; }

.glyphicon-plus--hover { top: -2px; font-size: 9px; }

.single-product .in-stock { font-size: 14px; }

.light-paper-pattern { background-image: url('../images/light_paper_pattern.jpg?1390301632'); }

.testimonials { padding: 50px 0 20px 0; text-align: center; }
.testimonials a:active { background: none; }
.testimonials .testimonials__title { display: inline; }
.testimonials .testimonials__text { border-left: none; margin-bottom: 0; }
.testimonials .testimonials__quotes--img { max-width: 100%; height: auto; }
.testimonials .testimonials__quotes--rotate { -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }
.testimonials .glyphicon-circle { border-color: #b1b0a7; color: #b1b0a7; margin: 0 10px; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; }
.testimonials .glyphicon-circle:hover { border-color: #413c35; }

.wpcf7-textarea, .wpcf7-text, .form-control--search, .form-control--contact { background-color: #f3f2eb; border: 1px solid #e5e5dc; -webkit-box-shadow: none; box-shadow: none; height: 38px; margin: 10px 0 0 0; border-radius: 4px; width: 100%; padding: 10px; }
.wpcf7-textarea:focus, .wpcf7-text:focus, .form-control--search:focus, .form-control--contact:focus { background-color: white; }

.form-control--search { width: 80%; display: inline-block; margin: 0; }

#searchform .btn, #searchform #submitWPComment { width: 18%; }

.wpcf7-textarea { height: 260px; }

span.wpcf7-not-valid-tip { color: #d5525b; }

.team-slider__title { position: relative; font-size: 14px; top: -12px; }

.team-image { border-radius: 2px; }

.motivational-stories { text-align: center; }
.motivational-stories .motivational-stories__circle { display: inline-block; color: white; border-radius: 50%; padding: 40px 0; font-size: 60px; width: 160px; height: 160px; text-shadow: 0 2px 5px rgba(65, 60, 53, 0.25); }

.main__title { width: 100%; text-align: center; position: relative; }
.main__title:after { content: ""; position: absolute; z-index: -1; background-color: #e5e5dc; width: 100%; height: 1px; top: 50%; left: 0; }

.main__title__text { display: inline-block; padding: 0 10px; margin: 10px 0; background-color: white; }

.widgets__heading--line { text-align: center; position: relative; }
.widgets__heading--line:after { z-index: 1; content: ""; position: absolute; width: 100%; top: 50%; left: 0; height: 1px; background: #e5e5dc; }

.widgets__heading { position: relative; text-align: center; z-index: 2; display: inline-block; padding: 0 10px; background-color: white; margin: 30px 0; }

.widgets__products { float: left; margin-right: 10px; width: 78px; }

.widgets__products--galery { margin: 0 10px 10px 0; }

.products__price--widgets { padding: 0 3px; font-weight: bold; font-size: 14px; }

.avatar { border-radius: 2px; }

.avatar-container--nested, .avatar-container--nestedx2, .avatar-container { float: left; width: 12%; }
.avatar-container--nested img, .avatar-container--nestedx2 img, .avatar-container img { width: 100%; height: auto; }

.avatar-container--nested { margin-left: 15%; width: 10%; }

.avatar-container--nestedx2 { margin-left: 28%; width: 8%; }

.comment-content--nested, .comment-content--nestedx2, .comment-content { float: left; width: 85%; margin-left: 3%; position: relative; }
.comment-content--nested:before, .comment-content--nestedx2:before, .comment-content:before { content: ""; display: block; position: absolute; top: 20px; left: -10px; border: solid 6px white; border-width: 6px 10px 6px 0; border-right-color: #f3f2eb; }
.comment-content--nested .comment-inner, .comment-content--nestedx2 .comment-inner, .comment-content .comment-inner { padding: 30px; background-color: #f3f2eb; border-radius: 2px; margin-bottom: 30px; }
.comment-content--nested .comment-author, .comment-content--nestedx2 .comment-author, .comment-content .comment-author { font-size: 18px; font-weight: bold; }
.comment-content--nested .comment-metadata, .comment-content--nestedx2 .comment-metadata, .comment-content .comment-metadata { float: right; font-weight: 600; font-size: 13px; }
.comment-content--nested .comment-text, .comment-content--nestedx2 .comment-text, .comment-content .comment-text { margin-top: 15px; }

.comment-content--nested { width: 72%; }

.comment-content--nestedx2 { width: 61%; }

.comments { display: inline-block; }

.page-not-found { text-align: center; padding: 30px 0 0 0; }
.page-not-found .page-not-found__text { font-size: 16px; font-weight: 600; }
.page-not-found .page-not-found__link:hover { color: #598c4f; text-decoration: none; }
.page-not-found .page-not-found__background { width: 217px; height: 222px; border-radius: 50%; display: inline-block; }

.single-product__title { margin: 10px 0 20px 0; }

.single-product__price { font-size: 34px; font-weight: bold; position: relative; }
@media (min-width: 768px) { .single-product__price { padding-right: 16px; }
  .single-product__price:after { position: absolute; content: ""; background-color: #b1b0a7; width: 1px; height: 18px; right: 0; top: 50%; margin-top: -8px; } }

.single-product__rating { position: relative; }
@media (min-width: 768px) { .single-product__rating { top: -7px; display: inline; padding: 0 16px; }
  .single-product__rating:after { position: absolute; content: ""; background-color: #b1b0a7; width: 1px; height: 18px; right: 0; top: 50%; margin-top: -8px; } }

@media (min-width: 768px) { .in-stock--single-product { display: inline; position: relative; padding-left: 16px; top: -8px; } }

.star-off { color: #b1b0a7; }

.single-product__text { font-size: 14px; }

.single-product__btn-text { padding: 0 0 0 10px; }

@media (min-width: 992px) { .products__content { margin-left: 30px; } }
.products__content .btn-group { display: inline; }

.quantity { display: inline-block; margin: 10px; }
.quantity .quantity__input, .quantity .quantity__button { font-size: 14px; border: 1px solid #e5e5dc; border-radius: 2px; height: 36px; font-weight: bold; font-family: "Arvo", Georgia, Times, serif; text-align: center; margin: 0 -2px; }
.quantity .quantity__button { background-color: transparent; width: 32px; -webkit-box-shadow: 0 1px 0 #e5e5dc; box-shadow: 0 1px 0 #e5e5dc; }
.quantity .quantity__button:hover { background-color: #f3f2eb; }
.quantity .quantity__input { background-color: #f3f2eb; width: 32px; -webkit-box-shadow: 0 0 0 #e5e5dc; box-shadow: 0 0 0 #e5e5dc; }

.blog .blog__comments-link { font-weight: 600; }
.blog .blog-content { margin: 0 auto; }
.blog .secondary-link--blog { font-weight: 600; }

.blog--centered .entry-title { text-align: center; }

.the-content { font-size: 14px; }

.entry-title { margin-bottom: 30px; }

.blog__archive { text-align: center; font-family: "Arvo", Georgia, Times, serif; padding: 5px 0; font-size: 12px; }
.blog__archive .blog__banner__link { color: #f3f2eb; }
.blog__archive .blog__banner__link:hover { color: #e5e5dc; text-decoration: none; }
.blog__archive .blog__banner__link:hover .glyphicon-circle { border-color: #e5e5dc; }
.blog__archive .glyphicon-circle { border-color: #f3f2eb; -webkit-transition: all .1s linear; transition: all .1s linear; }
@media (min-width: 768px) { .blog__archive { text-align: right; } }

.blog__date { font-weight: 600; }

.blog-content__text { line-height: 23px; margin-bottom: 20px; }

.blog-content__text--highlight { font-size: 16px; line-height: 26px; font-weight: 600; margin-bottom: 20px; }

.flickr-badge { margin-left: -3%; }
.flickr-badge a { display: block; width: 17%; margin: 0 0 3% 3%; float: left; }
.flickr-badge a img { width: 100%; height: auto; border-radius: 2px; }

.sticky { border: 1px solid #e5e5dc; margin-bottom: 30px; border-radius: 2px; background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f3f2eb)); background: -webkit-linear-gradient(top, white 0%, #f3f2eb 100%); background: linear-gradient(to bottom, white 0%, #f3f2eb 100%); position: relative; padding: 30px; }
.sticky.blog--centered { padding: 5px; }
.sticky:after, .sticky:before { position: absolute; content: ""; height: 2px; left: 2px; right: 2px; display: block; top: 100%; border: 1px solid #e5e5dc; border-radius: 2px; background-color: #f3f2eb; }
.sticky:before { z-index: 2; }
.sticky:after { z-index: 1; height: 5px; left: 5px; right: 5px; }
.sticky .divider { display: none; }

.features-container { display: inline-block; margin-bottom: 60px; text-align: center; width: 100%; }
@media (min-width: 1200px) { .features-container { text-align: left; } }
.features-container .features-images { float: center; }
@media (min-width: 1200px) { .features-container .features-images { float: left; margin-right: 10px; margin-bottom: 30px; } }

.woocommerce { border-radius: 20px; }
.woocommerce .woocommerce-info { border: 1px solid #e5e5dc; background-color: #f3f2eb; padding: 10px 20px; border-radius: 2px; }
.woocommerce .input-text { display: block; border: 1px solid #e5e5dc; border-radius: 2px; background-color: #f3f2eb; width: 100%; padding: 10px; }
.woocommerce .form-row { margin: 20px 0 0 0; }
@media (min-width: 768px) { .woocommerce .form-row { margin: 40px 0 0 0; float: right; } }
.woocommerce .order_details { margin: 0; padding: 0; list-style: none; }
.woocommerce .order_details strong { display: block; text-transform: none; color: #b1b0a7; font-size: 11px; }
.woocommerce .order_details .order, .woocommerce .order_details .date, .woocommerce .order_details .total, .woocommerce .order_details .method { display: block; margin: 0px 10px 5px 0; padding: 0px 10px 0 0; font-size: 11px; text-transform: uppercase; }
@media (min-width: 768px) { .woocommerce .order_details .order, .woocommerce .order_details .date, .woocommerce .order_details .total, .woocommerce .order_details .method { display: inline-block; border-right: 1px dashed #b1b0a7; } }

.shop_table { border: 1px solid #e5e5dc; width: 100%; }
.shop_table > tbody > tr > th, .shop_table > tfoot > tr > th, .shop_table > thead > tr > th, .shop_table > tfoot > tr > td, .shop_table > tbody > tr > td { padding: 10px; border-top: 1px solid #e5e5dc; }
.shop_table > tfoot, .shop_table > thead { background-color: #f3f2eb; }

.payment .payment_methods { list-style: none; margin: 10px 0; padding: 10px; border: 1px solid #e5e5dc; border-radius: 2px; background-color: #f3f2eb; }
.payment .payment_box { margin: 10px 1.5%; padding: 10px 10px 0 10px; border: 1px solid #e5e5dc; border-radius: 2px; background-color: #e5e5dc; display: none; }

.shop-cart { border: 1px solid #e5e5dc; border-radius: 2px; width: 100%; }
.shop-cart .cart_table_title { background-color: #f3f2eb; }
.shop-cart .cart_table_title .actions { width: 100%; }
.shop-cart .cart_table_title .product-remove, .shop-cart .cart_table_title .product-thumbnail, .shop-cart .cart_table_title .Product-name, .shop-cart .cart_table_title .product-price, .shop-cart .cart_table_title .product-quantity, .shop-cart .cart_table_title .product-subtotal { padding: 10px 0; }
.shop-cart .cart_table_item .product-remove, .shop-cart .cart_table_item .product-thumbnail, .shop-cart .cart_table_item .Product-name, .shop-cart .cart_table_item .product-price, .shop-cart .cart_table_item .product-quantity, .shop-cart .cart_table_item .product-subtotal { padding: 10px; }
.shop-cart .cart_table_item .quantity { margin: 0; }
.shop-cart .product-remove { width: 6%; text-align: center; }
.shop-cart .product-thumbnail { width: 7%; }
.shop-cart .product-name { width: 40%; }
.shop-cart .product-price { width: 8%; }
.shop-cart .product-quantity { width: 25%; }
.shop-cart .product-subtotal { width: 14%; }
.shop-cart .cart_table_action { background-color: #f3f2eb; }
.shop-cart .cart_table_action .actions { padding: 8px 0px; }
.shop-cart .cart_table_action .actions .btn, .shop-cart .cart_table_action .actions #submitWPComment { margin-left: 10px; }
.shop-cart .cart_table_action .input-text { width: 120px; display: inline-block; height: 36px; background-color: white; }

/** Sidebars  also for shop */
.sidebar__title { margin-top: 0; margin-bottom: 0; }

.shop__divider { border: 1px solid #e5e5dc; margin-bottom: 11px; }

.shop__divider--main { margin-top: 0px; }

.shop__amount-filter { font-size: 16px; margin: -10px 0; padding: 9px 0 0 0; }
.shop__amount-filter > li > a { padding: 3px 10px 1px 10px; margin: 0px -1px; color: #b1b0a7; }

.sidebar__subtitle { margin-top: 0; }

.shop__sort-filter { float: right; margin: -10px 0; }

.shop__amount-filter__link:active { background: none; }

.shop__pagination { text-align: center; margin-bottom: 40px; }

.nav--filter > li > a { padding: 4px 0; }
.nav--filter > li > a.selected { font-weight: 700; }
.nav--filter > li > a:hover { background: none; text-decoration: underline; }

@media (max-width: 768px) { .shop__sort-filter { margin: 0; float: center; } }
@font-face { font-family: 'zocial'; font-style: normal; font-weight: normal; src: url("../zocial/css/zocial-regular-webfont.eot"); src: url("../zocial/css/zocial-regular-webfont.eot?#iefix") format("eot"), url("../zocial/css/zocial-regular-webfont.woff") format("woff"), url("../zocial/css/zocial-regular-webfont.ttf") format("truetype"), url("../zocial/css/zocial-regular-webfont.svg#zocialregular") format("svg"); }
[class*="zocial-"]:before { font-family: 'zocial', sans-serif; }

.zocial-acrobat:before { content: "\00E3"; }

.zocial-amazon:before { content: "a"; }

.zocial-android:before { content: "&"; }

.zocial-angellist:before { content: "\00D6"; }

.zocial-aol:before { content: "\""; }

.zocial-appnet:before { content: "\00E1"; }

.zocial-appstore:before { content: "A"; }

.zocial-bitbucket:before { content: "\00E9"; }

.zocial-bitcoin:before { content: "2"; }

.zocial-blogger:before { content: "B"; }

.zocial-buffer:before { content: "\00E5"; }

.zocial-call:before { content: "7"; }

.zocial-cal:before { content: "."; }

.zocial-cart:before { content: "\00C9"; }

.zocial-chrome:before { content: "["; }

.zocial-cloudapp:before { content: "c"; }

.zocial-creativecommons:before { content: "C"; }

.zocial-delicious:before { content: "#"; }

.zocial-digg:before { content: ";"; }

.zocial-disqus:before { content: "Q"; }

.zocial-dribbble:before { content: "D"; }

.zocial-dropbox:before { content: "d"; }

.zocial-drupal:before { content: "\00E4"; }

.zocial-dwolla:before { content: "\00E0"; }

.zocial-email:before { content: "]"; }

.zocial-eventasaurus:before { content: "v"; }

.zocial-eventbrite:before { content: "|"; }

.zocial-eventful:before { content: "'"; }

.zocial-evernote:before { content: "E"; }

.zocial-facebook:before { content: "f"; }

.zocial-fivehundredpx:before { content: "0"; }

.zocial-flattr:before { content: "%"; }

.zocial-flickr:before { content: "F"; }

.zocial-forrst:before { content: ":"; }

.zocial-foursquare:before { content: "4"; }

.zocial-github:before { content: "g"; }

.zocial-gmail:before { content: "m"; }

.zocial-google:before { content: "G"; }

.zocial-googleplay:before { content: "h"; }

.zocial-googleplus:before { content: "+"; }

.zocial-gowalla:before { content: "@"; }

.zocial-grooveshark:before { content: "8"; }

.zocial-guest:before { content: "?"; }

.zocial-html5:before { content: "5"; }

.zocial-ie:before { content: "6"; }

.zocial-instagram:before { content: "\00DC"; }

.zocial-instapaper:before { content: "I"; }

.zocial-intensedebate:before { content: "{"; }

.zocial-itunes:before { content: "i"; }

.zocial-klout:before { content: "K"; }

.zocial-lanyrd:before { content: "-"; }

.zocial-lastfm:before { content: "l"; }

.zocial-linkedin:before { content: "L"; }

.zocial-macstore:before { content: "^"; }

.zocial-meetup:before { content: "M"; }

.zocial-myspace:before { content: "_"; }

.zocial-ninetyninedesigns:before { content: "9"; }

.zocial-openid:before { content: "o"; }

.zocial-opentable:before { content: "\00C7"; }

.zocial-paypal:before { content: "$"; }

.zocial-pinboard:before { content: "n"; }

.zocial-pinterest:before { content: "1"; }

.zocial-plancast:before { content: "P"; }

.zocial-plurk:before { content: "j"; }

.zocial-pocket:before { content: "\00E7"; }

.zocial-podcast:before { content: "`"; }

.zocial-posterous:before { content: "~"; }

.zocial-print:before { content: "\00D1"; }

.zocial-quora:before { content: "q"; }

.zocial-reddit:before { content: ">"; }

.zocial-rss:before { content: "R"; }

.zocial-scribd:before { content: "}"; }

.zocial-skype:before { content: "S"; }

.zocial-smashing:before { content: "*"; }

.zocial-songkick:before { content: "k"; }

.zocial-soundcloud:before { content: "s"; }

.zocial-spotify:before { content: "="; }

.zocial-statusnet:before { content: "\00E2"; }

.zocial-steam:before { content: "b"; }

.zocial-stripe:before { content: "\00A3"; }

.zocial-stumbleupon:before { content: "/"; }

.zocial-tumblr:before { content: "t"; }

.zocial-twitter:before { content: "T"; }

.zocial-viadeo:before { content: "H"; }

.zocial-vimeo:before { content: "V"; }

.zocial-vk:before { content: "N"; }

.zocial-weibo:before { content: "J"; }

.zocial-wikipedia:before { content: ","; }

.zocial-windows:before { content: "W"; }

.zocial-wordpress:before { content: "w"; }

.zocial-xing:before { content: "X"; }

.zocial-yahoo:before { content: "Y"; }

.zocial-yelp:before { content: "y"; }

.zocial-youtube:before { content: "U"; }

/** Isotope styles */
.isotope-item { z-index: 2; }

.isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }

.isotope, .isotope .isotope-item { -webkit-transition-duration: 0.8s; transition-duration: 0.8s; }

.isotope { -webkit-transition-property: height, width; transition-property: height, width; }

.isotope .isotope-item { -webkit-transition-property: -webkit-transform, opacity; transition-property: transform, opacity; }

.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition { -webkit-transition-duration: 0s; transition-duration: 0s; }

.isotope.infinite-scrolling { -webkit-transition: none; transition: none; }

/*!
 * jQuery UI Slider @VERSION
 * http://jqueryui.com
 *
 * Copyright 2014 jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://api.jqueryui.com/slider/#theming
 */
.ui-slider { position: relative; text-align: left; }

.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }

.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle, .ui-slider.ui-state-disabled .ui-slider-range { -webkit-filter: inherit; filter: inherit; }

.ui-slider-horizontal { height: .8em; }

.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }

.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }

.ui-slider-horizontal .ui-slider-range-min { left: 0; }

.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.shop__filter__slider { margin: 20px 8px 30px 8px; }
.shop__filter__slider .ui-slider { height: 3px; border: 0; }
.shop__filter__slider .ui-widget-content { background: #e5e5dc; }
.shop__filter__slider .ui-state-default { background: white; border-radius: 50%; margin-top: -3px; border: 1px solid #e5e5dc; -webkit-box-shadow: 0px 1px 0px #e5e5dc; box-shadow: 0px 1px 0px #e5e5dc; }
.shop__filter__slider a:focus { outline-color: transparent; }
.shop__filter__slider .range-numbers { margin: 10px -8px 0 -8px; font-weight: bold; }
.shop__filter__slider .range-numbers .max-val { float: right; }

/*------------------------------------*\ WordPress overrides
\*------------------------------------*/
div.wpcf7-response-output { margin-left: 0; margin-right: 0; }

.blog-content__text .wp-caption, .blog-content__text img, .the-content .wp-caption, .the-content img { max-width: 100%; height: auto; }
.blog-content__text .alignleft, .the-content .alignleft { float: left; margin: 0 10px 10px 0; }
.blog-content__text .alignright, .the-content .alignright { float: right; margin: 0 0 10px 10px; }
.blog-content__text .aligncenter, .the-content .aligncenter { margin: 0 auto; }
.blog-content__text .wp-caption, .the-content .wp-caption { background-color: #f3f2eb; border: 1px solid #e0ddcb; border-radius: 2px; padding: 4px; margin-bottom: 10px; clear: both; }
.blog-content__text .wp-caption-text, .the-content .wp-caption-text { font-size: 12px; margin: 5px 0 0 0; text-align: center; }

.single-product .post-title h3 { display: none; }

.woocommerce-result-count { margin-bottom: 15px; margin-top: 20px; text-align: center; font-style: italic; }

.woocommerce-ordering { margin-top: 30px; margin-bottom: 0; }
.woocommerce-ordering .orderby { background-color: white; border: 1px solid #e5e5dc; padding: 8px; font-family: "Arvo", Georgia, Times, serif; font-size: 11px; text-transform: uppercase; margin-bottom: 0; }

.products__category a { color: #b1b0a7; }
.products__category a:hover { color: #99988c; }

.products__price del { color: #b1b0a7; }

.products__link { font-weight: bold; }

.img-overlay .added_to_cart { display: none; }

.cart_list .quantity { margin: 0; }

div.woocommerce .coupon { float: left; }
div.woocommerce .coupon label { display: none; }
div.woocommerce .product-remove { font-size: 22px; font-weight: bold; }
div.woocommerce .product-remove a a:hover { text-decoration: none; }
div.woocommerce .product-thumbnail img { width: 50px; margin-bottom: 0; }
div.woocommerce input[type="submit"]:hover, div.woocommerce button:hover, div.woocommerce .button:hover { text-decoration: none; }
div.woocommerce .actions { padding-left: 0; padding-right: 0; text-align: right; }
div.woocommerce .quantity [type="number"] { width: 32px; text-align: center; margin-bottom: 0; display: inline-block; padding: 5px 0 6px 0; border-radius: 0; font-family: "Arvo", Georgia, Times, serif; }
div.woocommerce .quantity.buttons_added { display: inline-block; position: relative; }
div.woocommerce .quantity.buttons_added .minus, div.woocommerce .quantity.buttons_added .plus { margin: 0; padding: 0; display: inline-block; right: 0; width: 32px; height: 36px; font-weight: bold; background: transparent; border: 1px solid #e5e5dc; text-shadow: none; font-family: "Arvo", Georgia, Times, serif; font-size: 14px; }
div.woocommerce .quantity.buttons_added .minus:hover, div.woocommerce .quantity.buttons_added .plus:hover { background-color: #f3f2eb; }
div.woocommerce .quantity.buttons_added .minus { bottom: 0; border-right: none; }
div.woocommerce .quantity.buttons_added .plus { top: 0; border-left: none; }
div.woocommerce input[type=number]::-webkit-inner-spin-button, div.woocommerce input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
div.woocommerce .actions .input-text { display: inline-block; padding: 4px 6px; margin-bottom: 0; vertical-align: middle; padding: 6px 12px; }
div.woocommerce .order-total { font-size: 1.3em; }
div.woocommerce .checkbox { display: inline-block; padding-left: 0; margin-top: 0; margin-bottom: 0; margin-right: 5px; font-size: inherit; vertical-align: bottom; }
div.woocommerce .cart { margin-bottom: 30px; }
div.woocommerce .cart .quantity { margin: 0 15px 15px 0; }
div.woocommerce .single_add_to_cart_button { padding-top: 8px; padding-bottom: 8px; }
div.woocommerce .form-row { float: none; margin: 15px 0 15px 0; }
div.woocommerce .form-row #rememberme { margin-left: 15px; }
div.woocommerce .form-row .input-text { width: 100%; }
div.woocommerce .form-row .input-text:focus { background-color: transparent; }
div.woocommerce .input-text { width: auto; }
div.woocommerce .pagination { width: 100%; text-align: center; }
div.woocommerce .product-description { border-top: 2px solid #e5e5dc; border-bottom: 2px solid #e5e5dc; font-size: 14px; padding: 15px 0 8px 0; margin: 30px 0 20px 0; }
div.woocommerce .product_meta { font-family: "Arvo", Georgia, Times, serif; color: #b1b0a7; text-transform: uppercase; font-size: 11px; margin-top: 0px; }
div.woocommerce .product_meta a { color: #b1b0a7; }
div.woocommerce .product_meta a:hover { color: #99988c; }
div.woocommerce .product_title { margin: 10px 0 30px 0; }
div.woocommerce .meta ins { text-decoration: none; }
div.woocommerce .meta ins .amount { margin-left: 10px; }
div.woocommerce .variations { margin-bottom: 10px; }
div.woocommerce .variations label { margin-right: 5px; margin-bottom: 0; }
div.woocommerce .variations .value select { background-color: transparent; border-radius: 2px; padding: 5px; font-family: "Arvo", Georgia, Times, serif; font-size: 11px; text-transform: uppercase; margin: 0 5px; }
div.woocommerce .product-type-variable .meta ins { font-weight: bold; }
div.woocommerce .product-type-variable .meta ins .amount:first-child:after { display: none; }
div.woocommerce .tag .amount { font-size: 34px; font-weight: bold; position: relative; }
@media (min-width: 768px) { div.woocommerce .tag .amount { padding-right: 16px; }
  div.woocommerce .tag .amount:after { position: absolute; content: ""; background-color: #b1b0a7; width: 1px; height: 28px; right: 0; top: 50%; margin-top: -14px; } }
div.woocommerce .tag del .amount { color: #b1b0a7; }
div.woocommerce .alert.out-of-stock { color: #f3f2eb; font-size: 12px; }
div.woocommerce .product { position: relative; }
div.woocommerce .product .stamp { position: absolute; right: -10px; top: -10px; width: 46px; height: 46px; line-height: 46px; text-align: center; border-radius: 50%; color: #f3f2eb; font-weight: bold; font-family: "Arvo", Georgia, Times, serif; font-size: 11px; text-transform: uppercase; z-index: 1; }
div.woocommerce .comment-form textarea, div.woocommerce .comment-form input { display: block; background-color: #f3f2eb; border-radius: 2px; border: 1px solid #e5e5dc; padding: 5px; }
div.woocommerce .comment-form textarea:focus, div.woocommerce .comment-form input:focus { background-color: transparent; }
div.woocommerce .woocommerce-product-rating { position: relative; margin-left: 15px; }
@media (min-width: 768px) { div.woocommerce .woocommerce-product-rating { padding-right: 16px; }
  div.woocommerce .woocommerce-product-rating:after { position: absolute; content: ""; background-color: #b1b0a7; width: 1px; height: 28px; right: 0; top: 50%; margin-top: -14px; } }
div.woocommerce .woocommerce-product-rating .star-rating { margin-bottom: -4px; }
div.woocommerce .single_add_to_cart_button { border-color: #71a866; }
div.woocommerce .single_add_to_cart_button:hover { background-color: #598c4f; border-color: #598c4f; }
div.woocommerce del { color: #b1b0a7; }
div.woocommerce del .amount { color: #b1b0a7; }
div.woocommerce .woocommerce-price, div.woocommerce .woocommerce-product-rating { display: inline-block; }
div.woocommerce .images .attachment-shop_thumbnail { margin: 0 15px 15px 0; width: 40%; height: auto; }
div.woocommerce .wc-forward { margin-right: 10px; }

.single_variation { margin-bottom: 15px; }
.single_variation .price { font-size: 20px; }
.single_variation .price > .amount, .single_variation ins { font-weight: bold; text-decoration: none; }

.commentlist { list-style: none; margin-left: 0; margin-top: 20px; padding-left: 0; }
.commentlist .comment { margin-bottom: 20px; border-bottom: 1px solid #e5e5dc; }
.commentlist .comment:before, .commentlist .comment:after { content: " "; /* 1 */ display: table; /* 2 */ }
.commentlist .comment:after { clear: both; }
.commentlist .avatar { float: left; width: 60px; margin-bottom: 10px; }
.commentlist .comment-text { float: right; width: calc(100% - 110px); position: relative; }
.commentlist .star-rating { float: right; }

#review_form_wrapper .comment-form #comment { display: block; width: 50%; }
#review_form_wrapper .comment-form .stars a { position: relative; text-indent: -9999px; display: inline-block; font-family: "Glyphicons Halflings"; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; margin-right: 1em; }
#review_form_wrapper .comment-form .stars a:before { text-indent: 0; position: absolute; top: 0; left: 0; }
#review_form_wrapper .comment-form .stars .star-1 { width: 2em; }
#review_form_wrapper .comment-form .stars .star-1:before { content: "\e007"; }
#review_form_wrapper .comment-form .stars .star-1:hover:before, #review_form_wrapper .comment-form .stars .star-1.active:before { content: "\e006"; }
#review_form_wrapper .comment-form .stars .star-2 { width: 3em; }
#review_form_wrapper .comment-form .stars .star-2:before { content: "\e007 \e007"; }
#review_form_wrapper .comment-form .stars .star-2:hover:before, #review_form_wrapper .comment-form .stars .star-2.active:before { content: "\e006 \e006"; }
#review_form_wrapper .comment-form .stars .star-3 { width: 4em; }
#review_form_wrapper .comment-form .stars .star-3:before { content: "\e007 \e007 \e007"; }
#review_form_wrapper .comment-form .stars .star-3:hover:before, #review_form_wrapper .comment-form .stars .star-3.active:before { content: "\e006 \e006 \e006"; }
#review_form_wrapper .comment-form .stars .star-4 { width: 5em; }
#review_form_wrapper .comment-form .stars .star-4:before { content: "\e007 \e007 \e007 \e007"; }
#review_form_wrapper .comment-form .stars .star-4:hover:before, #review_form_wrapper .comment-form .stars .star-4.active:before { content: "\e006 \e006 \e006 \e006"; }
#review_form_wrapper .comment-form .stars .star-5 { width: 6em; }
#review_form_wrapper .comment-form .stars .star-5:before { content: "\e007 \e007 \e007 \e007 \e007"; }
#review_form_wrapper .comment-form .stars .star-5:hover:before, #review_form_wrapper .comment-form .stars .star-5.active:before { content: "\e006 \e006 \e006 \e006 \e006"; }

.widget_product_search .screen-reader-text { display: none; }
.widget_product_search #s { border: 1px solid #e5e5dc; background-color: #f3f2eb; border-radius: 2px; margin-bottom: 5px; padding: 8px; width: 100%; }
.widget_product_search #s:focus { background-color: white; border: 1px solid #e5e5dc; }

.woocommerce-error, .woocommerce-message, .woocommerce-info { padding: 10px; border-radius: 3px; }

.woocommerce-error { margin: 0; list-style: none; }

.payment_methods { list-style: none; margin-left: 30px; padding: 0; }
.payment_methods label { margin-bottom: 0; margin-left: 10px; }
.payment_methods .input-radio { margin-top: 0; }
.payment_methods .payment_box { padding: 15px 15px 5px; }

.col2-set:before, .col2-set:after { content: " "; /* 1 */ display: table; /* 2 */ }
.col2-set:after { clear: both; }
.col2-set .col-1, .col2-set .col-2 { width: 48%; float: left; }
.col2-set .col-1 { margin-right: 2%; }
.col2-set .col-2 { margin-left: 2%; }

.product_list_widget { list-style: none; margin: 0; padding: 0; }
.product_list_widget > li { margin-bottom: 10px; }
.product_list_widget > li:before, .product_list_widget > li:after { content: " "; /* 1 */ display: table; /* 2 */ }
.product_list_widget > li:after { clear: both; }
.product_list_widget > li > a { display: block; font-weight: bold; }
.product_list_widget .wp-post-image { width: 40px; float: right; height: auto; }
.product_list_widget .reviewer { font-style: italic; }

.sidebar-item .price_slider { margin-bottom: 20px; margin-right: 10px; margin-left: 10px; background-color: #f3f2eb; border-radius: 2px; height: 3px; }
.sidebar-item .price_label { font-weight: bold; margin-top: 5px; text-align: center; }
.sidebar-item .price_slider_amount .button { width: 100%; }
.sidebar-item .ui-slider-range { border-radius: 2px; }
.sidebar-item .ui-slider-handle { background-color: white; border: 1px solid #e5e5dc; border-radius: 50%; -webkit-box-shadow: 0px 1px 0px #e5e5dc; box-shadow: 0px 1px 0px #e5e5dc; margin-top: -3px; }

.sidebar-filters .price_slider_wrapper { padding-top: 10px; }
.sidebar-filters .price_slider { margin-bottom: 5px; }
.sidebar-filters .price_slider_amount button { display: none !important; }
.sidebar-filters .caret { -webkit-transition: .15s ease; transition: .15s ease; }
.sidebar-filters .accordion-toggle.collapsed .caret { -webkit-transform: rotate(-90deg); -ms-transform: rotate(-90deg); transform: rotate(-90deg); }
.sidebar-filters .accordion-group { margin-bottom: 15px; }

.sidebar-item ul { margin: 0; padding: 0; list-style: none; }
.sidebar-item .categories-checkboxes ul { margin-left: 8%; }

.accordion-heading .accordion-toggle { display: block; font-weight: bold; text-transform: uppercase; font-size: 14px; padding: 0; }

.accordion-inner { padding-top: 10px; }
.accordion-inner label { font-weight: normal; margin: 0 0 5px; }

.widget_shopping_cart_content .button { margin: 5px 0; }

#submit, #searchsubmit, .button { font-family: "Arvo", Georgia, Times, serif; font-weight: 700; text-transform: uppercase; font-size: 12px; color: #f3f2eb; display: inline-block; border-radius: 2px; border: 2px solid #fe6e3a; padding: 7px 18px; -webkit-transition: all .1s linear; transition: all .1s linear; }
#submit:hover, #searchsubmit:hover, .button:hover { color: #f3f2eb; background: #fe4907; border: 2px solid #fe4907; }

.coupon .input-text { margin: 0 4px 0 6px; }

.button.checkout-button { border: 2px solid #71a866; margin: 0 5px 0 2px; }
.button.checkout-button:hover { background: #598c4f; border: 2px solid #598c4f; }

@media (min-width: 768px) { .cart_totals { text-align: left; width: 100%; } }
.cart_totals table { width: 100%; border-radius: 2px; }
.cart_totals table tbody { background-color: #f3f2eb; border: 1px solid #e5e5dc; }
.cart_totals table tbody tr { border: 1px solid #e5e5dc; }
.cart_totals table tbody th { padding: 8px; }

.shipping_calculator { clear: both; }

.woocommerce-message { background-color: #f3f2eb; border: 1px solid #e5e5dc; margin-bottom: 10px; }

.cart-empty { margin-bottom: 20px; }

.shop_table { margin-bottom: 30px; }

.attachment-shop_single { margin-bottom: 30px; }

.lang-currency { height: 27px; }

.topmost-line #lang_sel { text-align: left; height: auto; }

.panel-grid .banners-big, .panel-grid .banners-medium { margin: 0; }

.widget_widget_sp_image { text-align: center; }
.widget_widget_sp_image h3 { text-align: center; font-size: 15px; }
.widget_widget_sp_image img { margin-bottom: 15px; }

.su-note-inner { padding: 10px; }

.gallery-caption, .bypostauthor { border: none; }

.textwidget img { max-width: 100%; height: auto; }
.textwidget select { max-width: 100%; }

.sidebar .widget_nav_menu .menu { list-style: none; font-weight: 700; padding: 0; }
.sidebar .widget_nav_menu .menu span { display: none; }
.sidebar .widget_nav_menu .dropdown-menu { visibility: visible; opacity: 1; position: relative; float: none; }
.sidebar .widget_nav_menu .dropdown-menu a { color: #71a866; font-weight: bold; padding: 2px 10px; }
.sidebar .widget_nav_menu .dropdown-menu a:hover { color: #598c4f; background-color: transparent; }
.sidebar .widget_nav_menu .dropdown-menu > .active > a { background-color: transparent; color: #71a866; font-weight: bold; }

.footer-widgets .widget_nav_menu .menu { list-style: none; font-weight: 700; padding: 0; }
.footer-widgets .widget_nav_menu .dropdown-menu a { color: #b3b3aa; }
.footer-widgets .widget_nav_menu .dropdown-menu a:hover { color: #f3f2eb; }

#wp-calendar { width: 100%; }
#wp-calendar caption { font-weight: 700; margin-bottom: 10px; }

.tagcloud a { display: inline-block; border: 2px solid #71a866; border-radius: 5px; padding: 5px 8px; margin: 4px 2px; font-family: "Arvo", Georgia, Times, serif; font-weight: 700; color: #71a866; text-transform: uppercase; font-size: 11px; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.tagcloud a:hover { color: #598c4f; text-decoration: none; border: 2px solid #598c4f; }

.footer-widgets #searchform button { padding: 10px 10px; }

input[type=number] { -moz-appearance: textfield; }

/*------------------------------------*\ Accessibility overrides, usually with help of JS
\*------------------------------------*/
/*------------------------------------*\ The end :)
\*------------------------------------*/
