.su-generator-clearfix:before,
.su-generator-clearfix:after {
	display: table;
	content: " ";
}
.su-generator-clearfix:after { clear: both; }
.su-generator-clear {
	height: 0;
	clear: both;
	overflow: hidden;
}
.su-generator-hidden { display: none !important; }

.su-generator-loading {
	min-height: 60px;
	background: 50% 50% url("../images/spinner.gif") no-repeat !important;
}
.su-generator-loading * { visibility: hidden; }

.su-generator-button img {
	margin: -1px 2px 0 -5px;
	vertical-align: middle;
}
.wp-media-buttons .su-generator-button img {
	margin: -1px -1px 0 -4px;
	vertical-align: middle;
}

#su-generator-wrap { display: none; }
#su-generator {
	position: relative;
	width: 85%;
	max-width: 1000px;
	margin: 28px auto 100px;
	padding: 20px;
	background: #fff;
	-webkit-box-shadow: 0 2px 25px #000;
	box-shadow: 0 2px 25px #000;
	-webkit-transition: max-width .2s;
	transition: max-width .2s;
}
#su-generator.su-generator-narrow { max-width: 500px; }

/* Generator tools */
#su-generator-tools { margin-bottom: 20px; }
#su-generator-tools span {
	display: inline-block;
	width: 1px;
	height: 1em;
	margin: 0 0.5em;
	border-right: 1px dotted #555;
	vertical-align: middle;
}

/* Search box */
#su-generator-search {
	width: 100%;
	margin-bottom: 30px;
	padding: 10px 10px 10px 42px;
	background: 5px 50% url('../images/search.png') no-repeat;
	font-size: 1.3em;
}

/* Filter box */
#su-generator-filter {
	margin: 0 -20px;
	padding: 14px 20px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #eee;
	color: #555;
	text-align: center;
	line-height: 24px;
}
#su-generator-filter a,
#su-generator-filter strong {
	display: inline-block;
	margin: 0 1em;
	line-height: 1;
}
#su-generator-filter a {
	border-bottom: 1px dotted #ccc;
	text-decoration: none;
}

/* Dropdown choices */
#su-generator-choices {
	margin-top: 20px;
	text-align: left;
}
#su-generator-choices > span {
	position: relative;
	display: block;
	width: 20%;
	height: 28px;
	min-width: 130px;
	padding: 0 5px 0 30px;
	float: left;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 1px dotted #e5e5e5;
	color: #222;
	vertical-align: top;
	text-align: left;
	line-height: 28px;
	cursor: pointer;
}
#su-generator-choices span:hover {
	background: #333;
	color: #fff;
	border-bottom: 1px solid #333;
}
#su-generator-choices span img {
	position: absolute;
	top: 7px;
	left: 7px;
	width: 14px;
	height: 14px;
}
#su-generator-choices span i {
	position: absolute;
	left: 1px;
	top: 1px;
	display: block;
	width: 26px;
	height: 26px;
	color: #888;
	text-align: center;
	font-size: 14px;
	line-height: 26px;
}
#su-generator-choices span:hover i { color: #fff; }

/* Breadcrumbs */
#su-generator-breadcrumbs {
	margin: 0 -20px;
	padding: 14px 20px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #eee;
	color: #555;
	line-height: 24px;
}
#su-generator-breadcrumbs span {
	margin-right: 1em;
	font-weight: bold;
}
#su-generator-breadcrumbs small {
	color: #bbb;
	font-weight: normal;
	font-size: 0.9em;
}

/* Attribute container */
#su-generator-settings .su-generator-attr-container {
	margin: 0 -20px;
	padding: 1.5em 20px;
	border-bottom: 1px solid #ccc;
}

/* Attribute name */
#su-generator-settings h5,
#su-generator-preview h5 {
	margin: 0 0 15px 0;
	font-size: 1em;
}

/* Attribute description */
.su-generator-attr-desc {
	margin-top: 15px;
	color: #aaa;
	font-style: italic;
	line-height: 1.6;
}
.su-generator-attr-desc b { color: #999; }

/* Small text after text field */
.su-generator-px-units {
	position: relative;
	margin-right: 15px;
}
.su-generator-px-units:before {
	position: absolute;
	right: -18px;
	bottom: 3px;
	display: block;
	width: 15px;
	color: #999;
	content: 'px';
	text-align: left;
	font-size: 0.9em;
}

/* Clickable values in attribute description */
.su-generator-attr-desc b.su-generator-set-value {
	border-bottom: 1px dotted #999;
	cursor: pointer;
}
.su-generator-attr-desc b.su-generator-set-value:hover {
	border-bottom: 1px dotted #333;
	color: #333;
}

/* Common attribute fields */
#su-generator-settings input[type="text"],
#su-generator-settings input[type="number"],
#su-generator-settings textarea,
#su-generator-settings select {
	width: 100%;
	height: auto;
	padding: 10px;
}

/* Upload fields */
.su-generator-field-actions { padding-top: 10px; }
.su-generator-field-actions .button,
.su-generator-field-actions span { margin-right: 5px; }
.su-generator-field-actions img {
	margin: 0 6px 0 -4px;
	vertical-align: middle;
}

/* Icon picker */
.su-generator-icon-picker {
	height: 0;
	margin: 0 -20px;
	padding: 0 20px;
	overflow: hidden;
	background: #eee;
	line-height: 24px;
	-webkit-transition: all .2s;
	transition: all .2s;
}
.su-generator-icon-picker.su-generator-icon-picker-visible {
	height: auto;
	margin: 1em -20px 0 -20px;
	padding: 14px 20px;
	overflow: visible;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.su-generator-icon-picker input { margin-bottom: 15px; }
.su-generator-icon-picker i {
	display: block;
	width: 24px;
	height: 24px;
	margin-left: 2px;
	float: left;
	color: #555;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	cursor: pointer;
}
.su-generator-icon-picker i:hover {
	color: #000;
	font-size: 24px;
}

/* Shadow picker */
.su-generator-shadow-picker { }
.su-generator-shadow-picker-field {
	position: relative;
	display: inline-block;
	width: 22%;
	padding-right: 3%;
}
.su-generator-shadow-picker-field small {
	display: block;
	color: #ccc;
}
.su-generator-shadow-picker-field input { text-align: right; }
.su-generator-shadow-picker-field.su-generator-shadow-picker-color {
	width: 25%;
	padding-right: 0;
}
.su-generator-shadow-picker-field.su-generator-shadow-picker-color input { text-align: left; }
.su-generator-shadow-picker-color { position: relative; }
.su-generator-shadow-picker-color-wheel {
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 9999;
	display: none;
	border: 1px solid #aaa;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 2px 5px #ccc;
	box-shadow: 0 2px 5px #ccc;
}

/* Border picker */
.su-generator-border-picker { }
.su-generator-border-picker-field {
	position: relative;
	display: inline-block;
	width: 30%;
	padding-right: 3%;
}
.su-generator-border-picker-field small {
	display: block;
	color: #ccc;
}
.su-generator-border-picker-field input { text-align: right; }
.su-generator-border-picker-field.su-generator-border-picker-color {
	width: 34%;
	padding-right: 0;
}
.su-generator-border-picker-field.su-generator-border-picker-color input { text-align: left; }
.su-generator-border-picker-color { position: relative; }
.su-generator-border-picker-color-wheel {
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 9999;
	display: none;
	border: 1px solid #aaa;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 2px 5px #ccc;
	box-shadow: 0 2px 5px #ccc;
}

/* Range pickers */
.su-generator-range-picker { }
.su-generator-range-picker .slider {
	width: 420px;
	margin: 10px 0 0 0 !important;
	padding: 0;
	float: left;
}
.su-generator-range-picker .slider > .dragger { background: #fff !important; }
.su-generator-range-picker .slider:hover > .dragger {
	background: #fff !important;
	-webkit-box-shadow: 0 0 0 5px rgba(33,117,155,0.5);
	box-shadow: 0 0 0 5px rgba(33,117,155,0.5);
}
.su-generator-range-picker .slider > .dragger.dragging {
	background: #ccc !important;
	-webkit-box-shadow: 0 0 0 5px rgba(33,117,155,0.5);
	box-shadow: 0 0 0 5px rgba(33,117,155,0.5);
}
.su-generator-range-picker .slider > .track {
	height: 12px !important;
	border: 1px solid #ccc !important;
	background: #fff !important;
}
.su-generator-range-picker input {
	width: 60px !important;
	float: right;
	text-align: center;
}

/* Switches */
.su-generator-switch {
	display: inline-block;
	width: 100%;
	font-weight: bold;
	cursor: pointer;
}
.su-generator-switch span {
	display: none;
	padding: 10px;
	border-radius: 3px;
}
.su-generator-switch-yes span.su-generator-yes {
	display: block;
	background: #e0ffe0;
	color: #0c0;
}
.su-generator-switch-no span.su-generator-no {
	display: block;
	background: #f5f5f5;
	color: #777;
}

/* Color pickers */
.su-generator-select-color {
	position: relative;
	display: inline-block;
	width: 100%;
}
.su-generator-select-color-wheel {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 9999;
	display: none;
	border: 1px solid #aaa;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 2px 5px #ccc;
	box-shadow: 0 2px 5px #ccc;
}

/* Image source picker */
.su-generator-isp { margin-bottom: 15px; }
.su-generator-isp-source {
	height: 0;
	margin: 0 -20px;
	padding: 0 20px;
	overflow: hidden;
	background: #eee;
	color: #555;
	opacity: 0;
	-webkit-transition: opacity .2s;
	transition: opacity .2s;
}
.su-generator-isp-source.su-generator-isp-source-open {
	height: auto;
	margin: 20px -20px 0;
	padding: 14px 20px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	opacity: 1;
}
.su-generator-isp-images {
	margin-top: 1em;
	overflow: auto;
}
.su-generator-isp-images span {
	position: relative;
	display: block;
	width: 84px;
	height: 84px;
	margin: 5px 5px 5px 0;
	float: left;
	border: 3px solid #fff;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 1px 2px #999;
	box-shadow: 0 1px 2px #999;
}
.su-generator-isp-images span:hover,
.su-generator-isp-images span.ui-sortable-helper {
	-webkit-box-shadow: 0 1px 6px #777;
	box-shadow: 0 1px 6px #777;
}
.su-generator-isp-images img {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 50%;
}
.su-generator-isp-images span i {
	position: absolute;
	top: -3px;
	right: -3px;
	display: none;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #fff;
	color: #f03;
	text-align: center;
	font-size: 12px;
	line-height: 16px;
	cursor: pointer;
}
.su-generator-isp-images span:hover i { display: block; }
.su-generator-isp-images span i:hover {
	background: #f03;
	color: #fff;
}
.su-generator-isp-categories,
.su-generator-isp-taxonomies,
.su-generator-isp-terms { margin-top: 15px; }


/* Preview box */
#su-generator-preview {
	display: none;
	margin: 0 -20px;
	padding: 1.5em 20px;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
}
/* make some previews visible */
#su-generator-preview .su-column { outline: 1px dotted #ccc; }

/* Actions box */
.su-generator-actions {
	margin: 0 -20px -20px;
	padding: 1.5em 15px;
	background: #eee;
}
.su-generator-actions > .button { margin: 0 5px; }
.su-generator-actions .button i { margin: 0 5px 0 -3px; }

.su-generator-presets { position: relative; }
.su-generator-presets > .button { cursor: default; }
.su-gp-popup {
	position: absolute;
	right: 0;
	bottom: 0;
	display: none;
	min-width: 160px;
	max-width: 500px;
	border: 1px solid #aaa;
	border-radius: 5px;
	background: #fff;
}
.su-gp-head {
	margin-bottom: 10px;
	padding: 10px;
	border-bottom: 1px dotted #ccc;
}
.su-gp-head .button {
	display: block;
	text-align: center;
}
.su-gp-list {
	margin: 5px 0;
}
.su-gp-list b {
	display: block;
	padding: 5px 10px;
	color: #aaa;
	font-weight: normal;
	font-style: italic;
}
.su-gp-list span {
	position: relative;
	display: block;
	padding: 5px 10px;
	overflow: hidden;
	color: #21759b;
	cursor: pointer;
}
.su-gp-list span:nth-child(odd) { background: #f8f8f8; }
.su-gp-list span:hover {
	background: #eee;
	color: #d54e21;
}
.su-gp-list span em {
	margin-right: 32px;
	white-space: nowrap;
	font-style: normal;
}
.su-gp-list span i {
	position: absolute;
	top: 50%;
	right: 10px;
	display: block;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	border-radius: 50%;
	color: #999;
	text-align: center;
	font-weight: normal;
	font-size: 12px;
	line-height: 20px;
}
.su-gp-list span i:hover {
	background: #f03;
	color: #fff;
}

/* Compatibility for Visual Composer, Elegant Themes and SiteOrigin page builders */
body.su-generator-priority-mode .mfp-bg { z-index: 90001 !important; }
body.su-generator-priority-mode .mfp-wrap { z-index: 90002 !important; }
body.su-generator-priority-mode .mfp-preloader { z-index: 90003 !important; }
body.su-generator-priority-mode .mfp-content { z-index: 90004 !important; }
body.su-generator-priority-mode button.mfp-close,
body.su-generator-priority-mode button.mfp-arrow { z-index: 90005 !important; }
