.su-clear {
	height: 0;
	clear: both;
}
.su-clearfix:before,
.su-clearfix:after {
	display: table;
	content: " ";
}
.su-clearfix:after { clear: both; }

.su-ajax {
	min-height: 60px;
	background-image: url("../images/loading.gif") !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat !important;
}
.su-ajax * { visibility: hidden; }

/* About screen */
#su-about-screen { }
#su-about-screen h1 { margin: 1.5em 0; }
#su-about-screen h1 small {
	display: block;
	margin: 7px 0 0 20px;
	color: #aaa;
	font-weight: normal;
	font-size: 0.5em;
}
#su-about-screen .su-about-column {
	width: 400px;
	margin-bottom: 1em;
	float: left;
}
#su-links {
	margin-bottom: 1.5em;
	line-height: 1.6;
}
#su-links span {
	display: inline-block;
	width: 1px;
	height: 1em;
	margin: 0 0.5em;
	border-right: 1px dotted #777;
	vertical-align: middle;
}
#su-video {
	width: 100%;
	min-width: 200px;
	max-width: 630px;
	margin-top: 40px;
}
#su-video iframe {
	width: 100%;
	height: 370px;
}

/* Custom CSS screen */
#su-custom-css-screen { }
#su-custom-css-screen textarea {
	width: 100%;
	border: 1px solid #ccc;
}

.su-custom-css-originals,
.su-custom-css-vars {
	margin: 1.5em 0;
	line-height: 1.8;
}
.su-custom-css-originals span {
	display: inline-block;
	width: 1px;
	height: 1em;
	margin: 0 0.5em;
	border-right: 1px dotted #777;
	vertical-align: middle;
}

body.toplevel_page_shortcodes-ultimate .mfp-iframe-scaler iframe { background: #fff; }

.js #sunrise-field-custom-css-editor { height: 300px; }
#sunrise-field-custom-css-editor .ace_scrollbar { overflow-y: auto !important; }

/* Add-ons screen */
#su-addons-screen { margin: 40px 20px; }
#su-addons-screen h2 {
	margin: 0 0 1.2em 0;
	padding: 0 0 0.8em 0;
	border-bottom: 1px solid #ddd;
	color: #666;
	font-weight: normal;
	font-size: 2em;
}
.su-addons-loop { margin-bottom: 40px; }
.su-addons-item {
	position: relative;
	width: 220px;
	margin: 0 20px 20px 0;
	float: left;
	border: 1px solid #ccc;
	border-radius: 3px;
	background: #fafafa;
	-webkit-box-shadow: 0 2px 4px #ddd;
	box-shadow: 0 2px 4px #ddd;
	cursor: pointer;
	-webkit-transition: all .2s;
	transition: all .2s;
}
.su-addons-item:hover {
	top: -5px;
	border-color: #26779C;
	background: #fff;
	-webkit-box-shadow: 0 4px 9px #ccc;
	box-shadow: 0 4px 9px #ccc;
}
.su-addons-item img {
	display: block;
	width: 100%;
	height: 140px;
	margin: 0;
	padding: 0;
	border: none;
	border-bottom: 7px solid #ddd;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background: #eee;
}
.su-addons-item-content { padding: 15px; }
.su-addons-item-content h4 {
	height: 16px;
	margin: 0 0 15px 0;
	overflow: hidden;
	color: #000;
	font-weight: bold;
	font-size: 14px;
}
.su-addons-item-content p {
	height: 90px;
	margin: 15px 0;
	overflow: hidden;
	color: #555;
	font-size: 12px;
	line-height: 1.5;
}
.su-addons-item-button {
	margin-top: 30px;
	text-align: right;
}

/* Examples screen */
#su-examples-screen { margin: 40px 20px; }
#su-examples-screen h2 {
	margin: 0 0 1.2em 0;
	padding: 0 0 0.8em 0;
	border-bottom: 1px solid #ddd;
	color: #666;
	font-weight: normal;
	font-size: 2em;
}
.su-examples-group { margin-bottom: 40px; }
.su-examples-item {
	position: relative;
	height: 15px;
	max-width: 700px;
	margin: 0 0 10px 0;
	padding: 15px 20px 15px 65px;
	overflow: hidden;
	border: 1px solid #ddd;
	border-radius: 3px;
	background: #f8f8f8;
	color: #444;
	font-size: 13px;
	line-height: 15px;
	cursor: pointer;
}
.su-examples-item:hover {
	border-color: #53ACD5;
	background: #fff;
	color: #26779C;
}
.su-examples-item i {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 45px;
	height: 45px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	background: #eee;
	text-align: center;
	font-size: 17px;
	line-height: 45px;
	-webkit-transition: all .2s;
	transition: all .2s;
}
.su-examples-item:hover i { font-size: 25px; }
#su-examples-window {
	position: relative;
	width: 85%;
	min-height: 60px;
	max-width: 700px;
	margin: 28px auto 100px;
	padding: 20px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background: #fff;
	-webkit-box-shadow: 0 2px 25px #000;
	box-shadow: 0 2px 25px #000;
	-webkit-transition: max-width .2s;
	transition: max-width .2s;
}
.su-examples-error {
	width: 100%;
	height: 40px;
	color: #f03;
	text-align: center;
	line-height: 40px;
}
#su-examples-window h2 {
	margin: 30px 0 20px;
	border-bottom: 1px solid #ddd;
	padding: 0 0 10px 0;
	font-size: 1.2em;
	color: #555;
}
.su-examples-code {
	margin: 20px 0;
}
.su-examples-code textarea {
	display: none;
	width: 99%;
	background: #FFFFE0;
	font-family: Monaco, Consolas, monospace;
}
