/*** Shortcodes Ultimate - players elements ***/

/*		Audio
---------------------------------------------------------------*/

.su-audio { }
.su-audio {
	position: relative;
	width: 100%;
	height: 30px;
	margin-bottom: 1.5em;
	background: #7c8781; /* Old browsers */ /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7c8781), color-stop(100%, #0a0809)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7c8781 0%, #0a0809 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: -webkit-gradient(linear, left top, left bottom, from(#7c8781), to(#0a0809));
	background: linear-gradient(to bottom, #7c8781 0%, #0a0809 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c8781', endColorstr='#0a0809', GradientType=0); /* IE6-9 */
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.su-audio .jp-play,
.su-audio .jp-pause {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 30px;
	height: 30px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	cursor: pointer;
	border-right: 1px solid #454947;
	background-image: url('../images/player/default.png');
	background-repeat: no-repeat;
}
.su-audio .jp-play { background-position: 0 0 }
.su-audio .jp-pause { background-position: -30px 0 }
.su-audio .jp-current-time,
.su-audio .jp-duration {
	position: absolute;
	top: 0;
	display: block;
	height: 30px;
	line-height: 30px;
	font-size: 10px;
	color: #eee;
	text-shadow: 0 -1px 0 #000;
	-moz-text-shadow: 0 -1px 0 #000;
	-webkit-text-shadow: 0 -1px 0 #000;
}
.su-audio .jp-current-time { left: 45px }
.su-audio .jp-duration { right: 10px }
.su-audio .jp-seek-bar,
.su-audio .jp-play-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 10px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;
}
.su-audio .jp-progress {
	position: absolute;
	top: 10px;
	left: 85px;
	right: 50px;
	height: 10px;
	background: #333;
	-webkit-box-shadow: 0 0 5px #000 inset;
	box-shadow: 0 0 5px #000 inset;
	-moz-box-shadow: 0 0 5px #000 inset;
	-webkit-box-shadow: 0 0 5px #000 inset;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.su-audio .jp-seek-bar {
	background: #0b0b0b; /* Old browsers */ /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0b0b0b), color-stop(100%, #666)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0b0b0b 0%, #666 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: -webkit-gradient(linear, left top, left bottom, from(#0b0b0b), to(#666));
	background: linear-gradient(to bottom, #0b0b0b 0%, #666 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0b0b0b', endColorstr='#666666', GradientType=0); /* IE6-9 */
}
.su-audio .jp-play-bar {
	background: #6db3f2; /* Old browsers */ /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6db3f2), color-stop(50%, #54a3ee), color-stop(51%, #3690f0), color-stop(100%, #1e69de)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: -webkit-gradient(linear, left top, left bottom, from(#6db3f2), color-stop(50%, #54a3ee), color-stop(51%, #3690f0), to(#1e69de));
	background: linear-gradient(to bottom, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6db3f2', endColorstr='#1e69de', GradientType=0); /* IE6-9 */
}

/*		Video
---------------------------------------------------------------*/

.su-video {
	position: relative;
	margin-bottom: 1.5em;
	overflow: hidden;
}
.su-video .jp-title {
	position: absolute;
	top: -100px;
	left: 0;
	width: 100%;
	height: 30px;
	padding: 0 1em;
	line-height: 30px;
	font-size: 0.9em;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	-webkit-transition: top .2s;
	transition: top .2s;
	-o-transition: top .2s;
	-ie-transition: top .2s;
	-moz-transition: top .2s;
	-webkit-transition: top .2s;
}
.su-video:hover .jp-title { top: 0 }
.su-video .jp-start {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	-webkit-transition: opacity .2s;
	transition: opacity .2s;
	-moz-transition: opacity .2s;
	-webkit-transition: opacity .2s;
	-o-transition: opacity .2s;
}
.su-video:hover .jp-start {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.su-video.jp-video-full {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.su-video.jp-video-full .jp-jplayer {
	position: fixed !important;
	left: 0;
	top: 0;
	overflow: hidden;
}
.su-video .jp-gui { position: relative }
.su-video.jp-video-full .jp-gui {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}
.su-video-controls-no .jp-gui {
	position: absolute !important;
	bottom: -100px;
	left: 0;
	right: 0;
	-webkit-transition: bottom .2s;
	transition: bottom .2s;
	-o-transition: bottom .2s;
	-ie-transition: bottom .2s;
	-moz-transition: bottom .2s;
	-webkit-transition: bottom .2s;
}
.su-video-controls-no:hover .jp-gui { bottom: 0 }
.su-video img {
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	border: none !important;
	margin: 0 !important;
	padding: 0 !important;
}
.su-video .jp-start { background: 50% 50% url('../images/player/default-start.png') no-repeat }
.su-video .jp-gui {
	height: 30px;
	background: #7c8781; /* Old browsers */ /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7c8781), color-stop(100%, #0a0809)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7c8781 0%, #0a0809 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: -webkit-gradient(linear, left top, left bottom, from(#7c8781), to(#0a0809));
	background: linear-gradient(to bottom, #7c8781 0%, #0a0809 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c8781', endColorstr='#0a0809', GradientType=0); /* IE6-9 */
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
.su-video .jp-gui .jp-play,
.su-video .jp-gui .jp-pause {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 30px;
	height: 30px;
	border-right: 1px solid #454947;
	cursor: pointer;
}
.su-video .jp-gui .jp-play { background: 0 0 url('../images/player/default.png') no-repeat }
.su-video .jp-gui .jp-pause { background: -30px 0 url('../images/player/default.png') no-repeat }
.su-video .jp-full-screen,
.su-video .jp-restore-screen {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 30px;
	height: 30px;
	border-left: 1px solid #454947;
	cursor: pointer;
}
.su-video .jp-full-screen { background: 0 -30px url('../images/player/default.png') no-repeat }
.su-video .jp-restore-screen { background: -30px -30px url('../images/player/default.png') no-repeat }
.su-video .jp-progress {
	position: absolute;
	top: 10px;
	left: 90px;
	right: 90px;
	height: 10px;
	background: #333;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-webkit-box-shadow: 0 0 5px #000 inset;
	box-shadow: 0 0 5px #000 inset;
	-moz-box-shadow: 0 0 5px #000 inset;
	-webkit-box-shadow: 0 0 5px #000 inset;
}
.su-video .jp-seek-bar,
.su-video .jp-play-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	cursor: pointer;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.su-video .jp-seek-bar {
	background: #0b0b0b; /* Old browsers */ /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0b0b0b), color-stop(100%, #666)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0b0b0b 0%, #666 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: -webkit-gradient(linear, left top, left bottom, from(#0b0b0b), to(#666));
	background: linear-gradient(to bottom, #0b0b0b 0%, #666 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0b0b0b', endColorstr='#666666', GradientType=0); /* IE6-9 */
}
.su-video .jp-play-bar {
	background: #6db3f2; /* Old browsers */ /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6db3f2), color-stop(50%, #54a3ee), color-stop(51%, #3690f0), color-stop(100%, #1e69de)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: -webkit-gradient(linear, left top, left bottom, from(#6db3f2), color-stop(50%, #54a3ee), color-stop(51%, #3690f0), to(#1e69de));
	background: linear-gradient(to bottom, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6db3f2', endColorstr='#1e69de', GradientType=0); /* IE6-9 */
}
.su-video .jp-current-time,
.su-video .jp-duration {
	position: absolute;
	top: 0;
	display: block;
	height: 30px;
	line-height: 30px;
	color: #f5f5f5;
	font-size: 10px;
}
.su-video .jp-current-time { left: 50px }
.su-video .jp-duration { right: 50px }