.su-vote {
	overflow: auto;
	background: #2685B0;
	color: #111;
}
.su-vote-wrap {
	margin: 1em;
	background: #eee;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 10px #173859;
	box-shadow: 0 0 10px #173859;

}
.su-vote-clear {
	height: 0;
	clear: both;
}
.su-vote-gravatar {
	float: left;
	width: 70px;
}
.su-vote-gravatar img {
	margin: 10px;
	border-radius: 50%;
}
.su-vote-message {
	overflow: auto;
	margin-left: 70px;
	padding: 0 2em;
	background: #fff;
	border-left: 1px solid #ddd;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.su-vote-message p {
	margin: 1.5em 0;
	line-height: 1.5;
}
.su-vote-message a.button,
.su-vote-message span { margin-right: 0.5em; }